<div class="app-body-inner">
    <div class="row-col">
        <div class="row-row">
            <div class="row-body" st-table="ctrl.displayedEvents" st-safe-src="ctrl.events" st-refer="ctrl.table">
                <div style="max-width: 800px; margin: 0 auto;">

                    <div class="row m-b m-t-md">
                        <div class="col-xs-6">
                            <h4 class="_300">Activity</h4>
                        </div>

                        <div class="col-xs-6 nav-active-dark">
                            <ul class="nav nav-pills nav-sm">
                                <li class="nav-item active pull-right m-l-xs">
                                    <a class="nav-link">
                                        All Activity
                                    </a>
                                </li>

                                <li class="nav-item pull-right" ui-sref="mentions">
                                    <a class="nav-link">
                                        Mentions
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="box" ng-repeat="event in ctrl.displayedEvents">
                        <div class="box-body">
                            <a class="pull-left m-r-sm w-40">
                                <img ng-src="{{event.customer.avatar}}" class="img-circle w-32">
                            </a>

                            <div class="clear p-y-sm">
                                <strong><a class="text-u-l">{{event.user.name}}</a></strong>
                                <span class="text-muted">{{event.type.name}}</span>
                                <a class="text-u-l">{{event.name}}</a>
                                <span class="text-muted">{{event.type.preposition}}</span>
                                <a class="text-u-l" ui-sref="customer-profile({id: event.customer.id})">
                                    {{event.customer.name}}
                                </a>

                                <small class="text-muted pull-right m-b-xs" am-time-ago="event.createdAt"></small>
                            </div>
                        </div>
                    </div>

                    <div st-infinite-scroll=".row-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
