<div class="box m-b-0 b-b">
    <div class="box-header p-b-0">
        <h3>{{ctrl.type.name}}</h3>
        <small class="block text-muted">Number of Users For Each Tag</small>
    </div>
    <div class="box-body p-a-xs">
        <div ui-jp="chart" ui-options="{{ctrl.chartTags}}" style="height:300px" >
        </div>
    </div>
</div>
