<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>

    <button class="btn btn-sm white m-r" type="button">Manage segments</button>
    <h6 class="modal-title inline">{{ctrl.mode == 'create' ? 'Create' : 'Update' }} segment</h6>
</div>
<div class="modal-body">
    <div class="radio" ng-if="ctrl.segment.isEditable">
        <label class="ui-check">
            <input type="radio" name="mode" ng-model="ctrl.mode" value="update">
            <i class="dark-white"></i>
            Update the current segment <strong>"{{ctrl.segment.name}}"</strong>
        </label>
    </div>

    <div class="radio">
        <label class="ui-check">
            <input type="radio" name="mode" ng-model="ctrl.mode" value="create">
            <i class="dark-white"></i>
            Create new segment
        </label>
    </div>

    <div class="form-group p-l-md">
        <input type="text" class="form-control form-control-sm"
               placeholder="Enter new segment name"
               ng-disabled="ctrl.mode == 'update'"
               ng-model="ctrl.name">

        <small class="text-muted">New segments you create are visible to you, but hidden for your teammates.</small>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm primary"
            type="button"
            ng-disabled="ctrl.mode == 'create' && !ctrl.name"
            ng-click="ctrl.mode == 'create' ? ctrl.create() : ctrl.update()">
        {{ctrl.mode == 'create' ? 'Create' : 'Update' }} segment
    </button>
</div>
