<div id="intercom-container" class="intercom-container intercom-reset">
    <div id="intercom-launcher" class="intercom-launcher intercom-launcher-enabled intercom-launcher-active"
         style="display: block;">
        <div class="intercom-launcher-button">
            <div class="intercom-launcher-initials"></div>
        </div>
        <div class="intercom-launcher-badge"></div>
        <div class="intercom-launcher-preview">
            <div class="intercom-launcher-preview-body"></div>
            <div class="intercom-launcher-preview-caret"></div>
            <div class="intercom-launcher-preview-close"></div>
        </div>
    </div>

    <div id="intercom-messenger" class="intercom-messenger">
        <div id="intercom-conversations" class="intercom-conversations intercom-sheet intercom-conversations-fetched intercom-new-message-enabled intercom-sheet-active">
            <div class="intercom-sheet-header">
                <div class="intercom-sheet-header-title-container">
                    <b class="intercom-sheet-header-title">Conversations</b>
                </div>
                <a class="intercom-sheet-header-button intercom-sheet-header-close-button" href="#">
                    <div class="intercom-sheet-header-button-icon"></div>
                </a>
            </div>
            <div class="intercom-sheet-body">
                <div class="intercom-sheet-spinner"></div>
            </div>
            <div class="intercom-sheet-content intercom-conversations-content">
                <div class="intercom-sheet-content-container">
                    <div class="intercom-conversations-items">
                        <div class="intercom-conversations-item">
                            <div class="intercom-conversations-item-user-avatar"></div>

                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">6m ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">
                                                You
                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        Hello world!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intercom-conversations-item">

                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kurtinc/128.jpg"
                                 class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">2d ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Zara

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        You can't synthesize the bandwidth without calculating the wireless GB bandwidth!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intercom-conversations-item">

                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jeffgolenski/128.jpg"
                                 class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">6d ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Ruairi Galavan

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        If we input the application, we can get to the HTTP application through the haptic HTTP application!

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intercom-conversations-item">

                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jjsiii/128.jpg"
                                 class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">1w ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Nicole Yu

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        If we bypass the protocol, we can get to the SQL protocol through the bluetooth SQL protocol!
                                        Try to back up the TCP microchip, maybe it will back up the redundant microchip!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intercom-conversations-item">

                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adrienths/128.jpg"
                                 class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">2w ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Ruairi Galavan

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        I'll copy the cross-platform SCSI array, that should array the SCSI array!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intercom-conversations-item">

                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jjsiii/128.jpg"
                                 class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span
                                                class="intercom-relative-time">2w ago</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Ruairi Galavan

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        programming the microchip won't do anything, we need to override the auxiliary RAM microchip!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intercom-conversations-spinner"></div>
                </div>
                <div class="intercom-no-conversations">
                    <div class="intercom-no-conversations-icon"></div>
                    No conversations
                </div>
            </div>

            <div class="intercom-sheet-footer intercom-conversations-footer">
                <button type="button" class="intercom-conversations-new-conversation-button"><i></i>New Conversation</button>
            </div>
        </div>
    </div>
</div>
