<div class="row">
    <div class="col-md-9" ng-if="ctrl.isActiveTab('replies')">
        <h5 class="_300 m-b m-t-md">
            <ng-pluralize count="ctrl.record.replies.length"
                when="{
                    '0': 'No replies',
                    '1': '{{ ctrl.record.replies.length }} reply',
                    'other': '{{ ctrl.record.replies.length }} replies'
                }"></ng-pluralize>
        </h5>
    </div>
    <div class="col-md-9" ng-if="ctrl.isActiveTab('replied')">
        <h5 class="_300 m-b m-t-md">
            <ng-pluralize count="ctrl.record.replies.length"
                when="{
                    '0': 'No persons replied',
                    '1': '{{ ctrl.record.replies.length }} person replied',
                    'other': '{{ ctrl.record.replies.length }} persons replied'
                }"></ng-pluralize>

            <button class="btn white btn-sm m-l-md" ng-class="{'disabled' : !ctrl.isCheckedAny() }"><i class="fa fa-paper-plane m-r-xs"></i> Message</button>
            <button class="btn white btn-sm" ng-class="{'disabled' : !ctrl.isCheckedAny() }"><i class="fa fa-tag m-r-xs"></i> Tag</button>
        </h5>
    </div>
    <div class="col-md-3 nav-active-info p-y">
        <ul class="nav nav-pills pull-right" ng-if="ctrl.record.replies.length">
            <li class="nav-item" ng-class="{'active': ctrl.isActiveTab('replies')}" ng-click="ctrl.setActiveTab('replies')"><a class="nav-link">Replies</a></li>
            <li class="nav-item" ng-class="{'active': ctrl.isActiveTab('replied')}" ng-click="ctrl.setActiveTab('replied')"><a class="nav-link">Replied</a></li>
        </ul>
    </div>
</div>

<div ng-if="ctrl.record.replies.length">

    <!-- Replies -->
    <div ng-if="ctrl.view.tab === 'replies'">
        <div class="row" ng-repeat="reply in ctrl.record.replies">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-10">
                                <a class="pull-left m-r-sm w-32"><img ng-src="{{ reply.user.avatar }}" alt="" class="img-circle w-24"></a>
                                <div class="m-y-sm"><a class="text-u-l">{{ reply.user.name }}</a> replied to this <a class="text-u-l" ui-sref="conversations">conversation</a>
                                    with <a class="text-u-l" ui-sref="customer-profile({id: reply.customer.id})">{{ reply.customer.name }} from {{ reply.customer.cityName }}</a></div>
                            </div>
                            <div class="col-md-2 text-muted text-right p-y-sm" am-time-ago="reply.sent"></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="b-l b-l-3x b-l-warn p-y-xs p-x-sm">
                            <span class="label pull-right">2</span>
                            last action here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Replied -->

    <div class="table-responsive" ng-if="ctrl.view.tab === 'replied'">
        <table class="table table-striped b-t">
            <thead>
                <tr>
                    <th style="width: 20px"><label class="ui-check m-a-0"><input type="checkbox"
                                                                                 ng-click="ctrl.toggleSelectAll()"
                                                                                 ng-checked="ctrl.isCheckedAll()"
                                                                                    ><i></i></label></th>
                    <th>Person</th>
                    <th>Sent</th>
                    <th>Opened</th>
                    <th>Replied</th>
                    <th>Clicked</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reply in ctrl.record.replies">
                    <td class="p-y-sm"><label class="ui-check m-a-0 m-y-sm"><input type="checkbox"
                                                                                   ng-click="ctrl.toggleSelect(reply)"
                                                                                   ng-checked="ctrl.isChecked(reply)"
                                                                                        ><i></i></label></td>
                    <td> <!-- Person -->
                        <a class="pull-left m-r-sm w-32"><img ng-src="{{ reply.customer.avatar }}" alt="" class="img-circle w-24"></a>
                        <div class="m-y-sm"><a class="text-u-l" ui-sref="customer-profile({id: reply.customer.id})">{{ reply.customer.name }} from {{ reply.customer.cityName }}</a></div>
                    </td>
                    <td><div class="m-y-sm" am-time-ago="reply.sent"></div></td>
                    <td><div class="m-y-sm" am-time-ago="reply.opened"></div></td>
                    <td><div class="m-y-sm" am-time-ago="reply.replied"></div></td>
                    <td><div class="m-y-sm">{{ reply.clicked }}</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>