.intercom-reset a, .intercom-reset abbr, .intercom-reset acronym, .intercom-reset address, .intercom-reset applet, .intercom-reset article, .intercom-reset aside, .intercom-reset audio, .intercom-reset b, .intercom-reset big, .intercom-reset blockquote, .intercom-reset button, .intercom-reset canvas, .intercom-reset caption, .intercom-reset center, .intercom-reset cite, .intercom-reset code, .intercom-reset dd, .intercom-reset del, .intercom-reset details, .intercom-reset dfn, .intercom-reset div, .intercom-reset div.form, .intercom-reset dl, .intercom-reset dt, .intercom-reset em, .intercom-reset fieldset, .intercom-reset figcaption, .intercom-reset figure, .intercom-reset footer, .intercom-reset form, .intercom-reset h1, .intercom-reset h2, .intercom-reset h3, .intercom-reset h4, .intercom-reset h5, .intercom-reset h6, .intercom-reset header, .intercom-reset hgroup, .intercom-reset i, .intercom-reset iframe, .intercom-reset img, .intercom-reset input, .intercom-reset input[type], .intercom-reset ins, .intercom-reset kbd, .intercom-reset label, .intercom-reset legend, .intercom-reset li, .intercom-reset mark, .intercom-reset menu, .intercom-reset nav, .intercom-reset object, .intercom-reset ol, .intercom-reset p, .intercom-reset pre, .intercom-reset q, .intercom-reset s, .intercom-reset samp, .intercom-reset section, .intercom-reset small, .intercom-reset span, .intercom-reset strike, .intercom-reset strong, .intercom-reset sub, .intercom-reset summary, .intercom-reset sup, .intercom-reset table, .intercom-reset tbody, .intercom-reset td, .intercom-reset textarea, .intercom-reset tfoot, .intercom-reset th, .intercom-reset thead, .intercom-reset time, .intercom-reset tr, .intercom-reset tt, .intercom-reset u, .intercom-reset ul, .intercom-reset var, .intercom-reset video {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: normal normal 100% Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  -moz-text-align-last: initial;
  text-align-last: initial;
  text-decoration: none;
  -webkit-text-emphasis: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  alignment-adjust: auto;
  alignment-baseline: baseline;
  -webkit-animation: none 0 ease 0 1 normal;
  animation: none 0 ease 0 1 normal;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-appearance: normal;
  -moz-appearance: normal;
  appearance: normal;
  azimuth: center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background: none 0 0 auto repeat scroll padding-box transparent;
  background-color: transparent;
  background-image: none;
  baseline-shift: baseline;
  binding: none;
  bleed: 6pt;
  bookmark-label: content();
  bookmark-level: none;
  bookmark-state: open;
  bookmark-target: none;
  border: 0 none transparent;
  border-radius: 0;
  bottom: auto;
  box-align: stretch;
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
  box-direction: normal;
  box-flex: 0.0;
  box-flex-group: 1;
  box-lines: single;
  box-ordinal-group: 1;
  box-orient: inline-axis;
  box-pack: start;
  box-shadow: none;
  box-sizing: content-box;
  -webkit-column-break-after: auto;
  break-after: auto;
  -webkit-column-break-before: auto;
  break-before: auto;
  -webkit-column-break-inside: auto;
  break-inside: auto;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  color-profile: auto;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  column-count: auto;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
  -webkit-column-gap: normal;
  -moz-column-gap: normal;
  column-gap: normal;
  -webkit-column-rule: medium medium #1f1f1f;
  -moz-column-rule: medium medium #1f1f1f;
  column-rule: medium medium #1f1f1f;
  -webkit-column-span: 1;
  -moz-column-span: 1;
  column-span: 1;
  -webkit-column-width: auto;
  -moz-column-width: auto;
  column-width: auto;
  -webkit-columns: auto auto;
  -moz-columns: auto auto;
  columns: auto auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  crop: auto;
  cursor: auto;
  direction: ltr;
  display: inline;
  dominant-baseline: auto;
  drop-initial-after-adjust: text-after-edge;
  drop-initial-after-align: baseline;
  drop-initial-before-adjust: text-before-edge;
  drop-initial-before-align: caps-height;
  drop-initial-size: auto;
  drop-initial-value: initial;
  elevation: level;
  empty-cells: show;
  fit: fill;
  fit-position: 0 0;
  float: none;
  float-offset: 0 0;
  grid-columns: none;
  grid-rows: none;
  hanging-punctuation: none;
  height: auto;
  hyphenate-after: auto;
  hyphenate-before: auto;
  hyphenate-character: auto;
  hyphenate-lines: no-limit;
  hyphenate-resource: none;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  icon: auto;
  image-orientation: auto;
  image-rendering: auto;
  image-resolution: normal;
  inline-box-align: last;
  left: auto;
  line-height: inherit;
  line-stacking: inline-line-height exclude-ruby consider-shifts;
  list-style: disc outside none;
  margin: 0;
  marks: none;
  marquee-direction: forward;
  marquee-loop: 1;
  marquee-play-count: 1;
  marquee-speed: normal;
  marquee-style: scroll;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  move-to: normal;
  nav-down: auto;
  nav-index: auto;
  nav-left: auto;
  nav-right: auto;
  nav-up: auto;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  outline-offset: 0;
  overflow: visible;
  overflow-style: auto;
  padding: 0;
  page: auto;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  page-policy: start;
  -webkit-perspective: none;
  perspective: none;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  position: static;
  presentation-level: 0;
  punctuation-trim: none;
  quotes: none;
  rendering-intent: auto;
  resize: none;
  right: auto;
  rotation: 0;
  rotation-point: 50% 50%;
  ruby-align: auto;
  ruby-overhang: none;
  ruby-position: before;
  ruby-span: none;
  size: auto;
  string-set: none;
  table-layout: auto;
  top: auto;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
  transform-style: flat;
  transition: all 0 ease 0;
  unicode-bidi: normal;
  vertical-align: baseline;
  white-space: normal;
  white-space-collapse: collapse;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  z-index: auto;
  text-align: start;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.intercom-reset address, .intercom-reset article, .intercom-reset aside, .intercom-reset blockquote, .intercom-reset canvas, .intercom-reset center, .intercom-reset dd, .intercom-reset details, .intercom-reset dir, .intercom-reset div, .intercom-reset div.form, .intercom-reset dl, .intercom-reset dt, .intercom-reset fieldset, .intercom-reset figcaption, .intercom-reset figure, .intercom-reset footer, .intercom-reset form, .intercom-reset frame, .intercom-reset frameset, .intercom-reset h1, .intercom-reset h2, .intercom-reset h3, .intercom-reset h4, .intercom-reset h5, .intercom-reset h6, .intercom-reset header, .intercom-reset hgroup, .intercom-reset hr, .intercom-reset menu, .intercom-reset nav, .intercom-reset noframes, .intercom-reset ol, .intercom-reset p, .intercom-reset pre, .intercom-reset section, .intercom-reset summary, .intercom-reset ul {
  display: block
}

.intercom-reset li {
  display: list-item
}

.intercom-reset table {
  display: table
}

.intercom-reset tr {
  display: table-row
}

.intercom-reset thead {
  display: table-header-group
}

.intercom-reset tbody {
  display: table-row-group
}

.intercom-reset tfoot {
  display: table-footer-group
}

.intercom-reset col {
  display: table-column
}

.intercom-reset colgroup {
  display: table-column-group
}

.intercom-reset td, .intercom-reset th {
  display: table-cell
}

.intercom-reset caption {
  display: table-caption
}

.intercom-reset input, .intercom-reset select {
  display: inline-block
}

.intercom-reset b, .intercom-reset strong {
  font-weight: 700
}

.intercom-reset b > em, .intercom-reset b > i, .intercom-reset em > b, .intercom-reset em > strong, .intercom-reset i > b, .intercom-reset i > strong, .intercom-reset strong > em, .intercom-reset strong > i {
  font-weight: 700;
  font-style: italic
}

.intercom-reset input, .intercom-reset textarea {
  cursor: text
}

.intercom-reset input::-moz-selection, .intercom-reset textarea::-moz-selection {
  background-color: #b3d4fc
}

.intercom-reset input::selection, .intercom-reset textarea::selection {
  background-color: #b3d4fc
}

.intercom-reset input::-webkit-input-placeholder, .intercom-reset textarea::-webkit-input-placeholder {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: normal normal 100% Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  text-align-last: initial;
  text-decoration: none;
  -webkit-text-emphasis: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  background-color: inherit;
  color: inherit
}

.intercom-reset input::-moz-placeholder, .intercom-reset textarea::-moz-placeholder {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: normal normal 100% Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  -moz-text-align-last: initial;
  text-align-last: initial;
  text-decoration: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  background-color: inherit;
  color: inherit
}

.intercom-reset input:-ms-input-placeholder, .intercom-reset textarea:-ms-input-placeholder {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size-adjust: none;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-variant: normal;
  font-weight: 400;
  font: normal normal 100% Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: left;
  text-align-last: initial;
  text-decoration: none;
  text-emphasis: none;
  text-height: auto;
  text-indent: 0;
  text-justify: auto;
  text-outline: none;
  text-shadow: none;
  text-transform: none;
  text-wrap: normal;
  background-color: inherit;
  color: inherit
}

.intercom-reset input[type=checkbox], .intercom-reset input[type=radio] {
  cursor: default
}

.intercom-reset a, .intercom-reset a *, .intercom-reset a span, .intercom-reset button, .intercom-reset button *, .intercom-reset button span, .intercom-reset input[type=reset], .intercom-reset input[type=submit] {
  cursor: pointer
}

.intercom-reset a:active, .intercom-reset a:hover, .intercom-reset a:link, .intercom-reset a:visited {
  color: inherit;
  background: transparent;
  text-shadow: none
}

.intercom-reset button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.intercom-reset iframe {
  max-width: 100%
}

.intercom-reset code {
  font-family: monospace;
  font-size: 1em
}

body > .intercom-container {
  z-index: 2147483000;
  position: fixed
}

@media print {
  #intercom-container {
    display: none
  }
}
