@import "../../../flatkit/assets/scss/variables";

$email-border-color:  #b6c5ce;

.b-email-preview {
  max-width: 1000px;

  border: solid 1px $email-border-color;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 $min-black;

  margin: 0 auto;

  .window-controls {
    height: 2.52em;
    background: linear-gradient(#f0f0f0,#e9e9e9);

    ul {
      list-style: none;
      padding: 0 0 0 .7em;
      margin: 0;
      line-height: 2.52em;

      li {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin-right: .35em;
        width: .74em;
        height: .74em;
        border-radius: 1em;
        background: #f25156;

        &:nth-of-type(2) {
          background: #ffc109;
        }

        &:nth-of-type(3) {
          background: #0ed439;
        }
      }
    }
  }

  .line {
    border-top: solid 1px $email-border-color;
    padding: .35em 1.2em;

    &:nth-of-type(1) {
      border-top: none;
    }
  }

  .subject {
    font-weight: bold;
  }

  .date {

  }

  .sender {
    font-weight: bold;
    color: #3ca056;
    font-size: 1.2em;
  }

  .message-body {
    background: #f0f4f7;
  }

  .email-avatar {
    margin-left: $spacer * 1.75 !important;
  }
}