<div class="b-email-preview">
    <div class="window-controls">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="line">
        <div class="subject">{{::ctrl.message.subject}}</div>
    </div>
    <div class="line">
        <div class="date pull-right text-muted">{{::ctrl.message.date | date : 'MMM dd, YYYY'}}</div>
        <div class="sender">{{::ctrl.sender.user.name}} from {{::ctrl.sender.company.name}}</div>
    </div>

    <div class="message-body p-y-lg">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box-color text-color pos-rlt b-t-warning b-t-3x b-t">
                    <span class="arrow bottom pull-left b-white m-l-md"></span>
                    <div class="box-body p-y-lg p-x-lg">
                        <p>
                            Hi <span class="label rounded"><i class="fa fa-puzzle-piece"></i> First name</span>, <br>
                        </p>
                        <p>
                            {{::ctrl.message.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-muted">
                <a class="pull-left m-r-sm w-64 email-avatar">
                    <img ng-src="{{ctrl.sender.user.avatar}}" class="img-circle w-48">
                </a>
                <div class="clear p-y-xs text-left">
                    <a href="" class="block">
                        <b>{{::ctrl.sender.user.name}}</b>
                    </a>
                    <a href="">
                        {{::ctrl.sender.company.name}}
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-right text-muted p-y m-r-md">
                <small><a href="">Unsubscribe</a></small>
            </div>
        </div>
    </div>
</div>