<div class="" st-table="ctrl.displayedRecords" st-safe-src="ctrl.settings.visibilities" st-refer="ctrl.table">
    <div class="row-col row-col-xs">
        <!-- column -->
        <div class="col-sm">
            <div class="row-col">
                <div class="p-a-sm b-b">

                    <div class="m-t-sm hidden-lg-up"></div>
                    <button class="btn dark btn-sm"
                            uib-tooltip="Show All" tooltip-append-to-body="true" tooltip-class="tooltip-top"
                            ng-click="ctrl.showAllVisibilities()">
                        <i class="fa fa-eye"></i>
                        Show All
                    </button>

                    <button class="btn dark btn-sm" tooltip-append-to-body="true" tooltip-class="tooltip-top"
                            uib-tooltip="Hide All" ng-click="ctrl.hideAllVisibilities()">
                        <i class="fa fa-eye-slash"></i>
                        Hide All
                    </button>

                    <st-column-select class="pull-right"></st-column-select>
                    <div class="clearfix"></div>
                </div>

                <div class="table-responsive white" style="padding-right: 15px;">
                    <table class="table table-striped table-fixed b-t m-b-0">
                        <thead>
                        <tr>
                            <th nowrap st-cell="{allowHide: false, icon: 'eye'}" class="check-field" style="width: 90px;">
                                Visibility
                            </th>
                            <th nowrap st-cell="{allowHide: false, icon: 'users'}" st-sort="name" class="pointer">
                                <i class="fa fa-fw fa-users"></i> Name
                            </th>
                            <th nowrap st-cell="{icon: 'at'}" st-sort="creator" class="pointer">
                                <i class="fa fa-fw fa-at"></i> Created By
                            </th>
                            <th nowrap st-cell="{icon: 'calendar-check-o'}" st-sort="created" class="pointer">
                                <i class="fa fa-fw fa-calendar-check-o"></i> Created
                            </th>
                            <th nowrap st-cell="{icon: 'users'}" st-sort="people" class="pointer" ng-show="ctrl.section.alias === 'tags' || ctrl.section.alias === 'people'">
                                <i class="fa fa-fw fa-users"></i> People
                            </th>
                            <th nowrap st-cell="{icon: 'users'}" st-sort="companies" class="pointer" ng-show="ctrl.section.alias === 'tags' || ctrl.section.alias === 'company'">
                                <i class="fa fa-fw fa-users"></i> Companies
                            </th>
                            <th nowrap st-cell="{icon: 'users'}" st-sort="conversations" class="pointer" ng-show="ctrl.section.alias === 'tags'">
                                 Conversations
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="row-row">
                    <div class="row-body" style="height: {{ ctrl.calcTableHeight() }}px;">

                        <div class="table-responsive white">
                            <table class="table table-striped table-fixed b-t">
                                <tbody>
                                <tr ng-repeat="v in ctrl.settings.visibilities | filter: { type: ctrl.section.alias }">
                                    <td st-cell="0" class="check-field" ng-click="ctrl.updateVisibility(v)"  style="width: 90px;">
                                        <span type="button" class="btn btn-default" ng-show="!v.readonly"><i class="fa fa-fw fa-eye{{ v.enabled ? '': '-slash' }}"></i></span>
                                    </td>
                                    <td st-cell="1" title="{{ v.name }}">{{ v.name }}</td>
                                    <td nowrap st-cell="2">
                                        <span ng-show="v.default">{{v.creator.name}}</span>
                                        <span ng-show="!v.default" >
                                            <img class="fa-fw fa-2x img-circle" ng-src="{{ v.creator.avatar }}">
                                            <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: v.creator.id})">
                                                {{v.creator.name}}</a>
                                        </span>
                                    </td>
                                    <td st-cell="3" am-time-ago="v.created"></td>
                                    <td st-cell="4" class="pointer" ng-show="ctrl.section.alias === 'tags' || ctrl.section.alias === 'people'">
                                        <span ng-show="ctrl.section.alias === 'tags'"><a class="text-u-l m-r-sm" ui-sref="customer-profile({id: v.people})" >See people</a></span>
                                        <span ng-show="ctrl.section.alias === 'people'">
                                            <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: v.people})" ng-show="v.people.length > 0">See {{ v.people.length }} users</a>
                                            <span ng-show="ctrl.section.alias === 'people' && v.people.length < 1"> No users</span>
                                        </span>
                                    </td>
                                    <td st-cell="5" ng-show="ctrl.section.alias === 'tags' || ctrl.section.alias === 'company'">
                                        <span ng-show="ctrl.section.alias === 'tags'"><a class="text-u-l m-r-sm" ui-sref="company-profile({id: v.companies})" >See companies</a></span>
                                        <span ng-show="ctrl.section.alias === 'company'">
                                            <a class="text-u-l m-r-sm" ui-sref="company-profile({id: v.companies})" ng-show="v.companies.length > 0">See {{ v.companies.length }} companies</a></span>
                                            <span ng-show="ctrl.section.alias === 'company' && v.companies.length < 1"> No companies</span>
                                        </span>
                                    </td>
                                    <td st-cell="6" ng-show="ctrl.section.alias === 'tags'">
                                        <a class="text-u-l m-r-sm" ui-sref="conversations({tag: v.name})">
                                            See conversations
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>