<div class="app-body-inner">
    <div class="row-col row-col-xs">
        <div class="p-x-md">

            <div class="row">
                <div class="col-md-6">
                    <h5 class="_300 m-b m-t-md">
                        {{::ctrl.record.title}}
                        <status-label code="ctrl.getRecordStatus()"/>
                    </h5>
                </div>
                <div class="col-md-6 p-y text-right" ng-include="'${require(`./buttons.html`)}'"></div>
            </div>

            <div class="box">
                <div class="box-header">
                    <div class="pull-left w-64 m-r-sm"><b>Audience</b></div>
                    <span class="m-r-sm"><i class="fa fa-user"></i> <span class="text-muted">Type is User</span></span>
                    <span class="m-r-sm"><b>Matches any of:</b></span>
                    <span class="m-r-sm"><i class="fa fa-calendar"></i> <span class="text-muted">First Seen exactly 1 day ago</span></span>
                    <span class="m-r-sm1"><i class="fa fa-calendar"></i> <span class="text-muted">Signed up exactly 1 day ago</span></span>
                </div>

                <div class="box-divider m-y-0 m-x-0"></div>

                <div class="box-header">
                    <span class="pull-left w-64 m-r-sm"><b>Channel</b></span>
                    <span class="m-r-sm"><i class="fa fa-at"></i> <span class="text-muted">Email message</span></span>
                    <span class="m-r-sm"><i class="fa fa-envelope"></i> <span class="text-muted">Include unsubscribe link</span></span>
                    <span class="m-r-sm"><i class="fa fa-comment-o"></i> <span class="text-muted">In-App message</span></span>
                    <span class="m-r-sm"><i class="fa fa-external-link"></i> <span class="text-muted">Only show for <a href="#">http://www.google.com/</a></span></span>
                </div>

                <div class="box-divider m-y-0 m-x-0"></div>

                <div class="box-body">
                    <div class="text-center">
                        <b>
                            <i class="fa fa-exclamation-circle"></i> This message will start sending again within an hour. It won't be sent to anyone who already got it
                        </b>
                    </div>
                </div>

                <div class="box-body p-x-0 p-y-0">
                    <div class="box nav-active-border b-primary bottom preview-tabs">
                        <div class="nav nav-md">
                            <div class="nav-link"
                                 ng-class="{'active': ctrl.isVersionActive(version)}"
                                 ng-repeat="version in ctrl.record.versions"
                                 ng-click="ctrl.setActiveVersion(version)"
                            >
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="_300 m-b m-t">Version {{ ctrl.getVersionLetter(version) }}</h5>
                                    </div>
                                    <div class="col-md-6 text-right p-y-sm" ng-if="ctrl.isVersionActive(version)">
                                        <button class="btn btn-icon white"
                                                ng-if="ctrl.record.versions.length > 1"
                                                ng-click="ctrl.deleteVersion(version)">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                        <button class="btn btn-icon white"
                                                ng-if="version.state === ctrl.status.PAUSED"
                                                ng-click="ctrl.live(version)">
                                            <i class="fa fa-play-circle"></i>
                                        </button>
                                        <button class="btn btn-icon white"
                                                ng-if="version.state === ctrl.status.LIVE && !ctrl.allVersionsLive()"
                                                ng-click="ctrl.pause(version)">
                                            <i class="fa fa-pause-circle"></i>
                                        </button>
                                        <button class="btn btn-icon white"
                                                ng-if="version.state === ctrl.status.LIVE && ctrl.allVersionsLive()"
                                                ng-click="ctrl.winner(version)">
                                            <i class="fa fa-check"></i>
                                        </button>

                                        <status-label code="version.state"/>
                                    </div>
                                    <div class="col-md-6 text-right p-y" ng-if="!ctrl.isVersionActive(version)">
                                        <status-label code="version.state"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-center b-statistics b-statistics_clickable p-y-md"
                                        ng-class="{'b-statistics_active': ctrl.view.tab === 'message'}"
                                        ng-click="ctrl.view.tab = 'message'">
                                        <div class="b-statistics-label">Message</div>
                                        <div class="b-statistics-value text-muted"><i class="fa fa-comment"></i></div>
                                    </div>

                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Sent</div>
                                        <div class="b-statistics-value">{{ version.statistics.sent }}</div>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Opened</div>
                                        <stat-value value="version.statistics.opened" total="version.statistics.sent" color="success"/>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Goal</div>
                                        <stat-value value="version.statistics.goal" total="version.statistics.sent" color="info"/>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Clicked</div>
                                        <stat-value value="version.statistics.clicked" total="version.statistics.sent" color="accent"/>
                                    </div>

                                    <div class="col-md-2 text-center b-statistics b-statistics_clickable p-y-md"
                                        ng-if="!ctrl.view.statExpanded"
                                        ng-click="ctrl.view.statExpanded = true">
                                        <div class="b-statistics-label">4 more</div>
                                        <div class="b-statistics-value text-muted"><i class="fa fa-caret-down"></i></div>
                                    </div>

                                    <div class="col-md-2 text-center b-statistics b-statistics_clickable p-y-md"
                                         ng-if="ctrl.view.statExpanded"
                                         ng-class="{'b-statistics_active': ctrl.statsView.tab === 'replies'}"
                                         ng-click="ctrl.view.tab = 'replies'">
                                        <div class="b-statistics-label">Replied</div>
                                        <stat-value value="version.statistics.replied" total="version.statistics.sent" color="warn"/>
                                    </div>
                                </div>

                                <div class="row"
                                     ng-if="ctrl.view.statExpanded">
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Unsubscribed</div>
                                        <stat-value value="version.statistics.unsubscribed" total="version.statistics.sent" color="danger"/>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Bounced</div>
                                        <stat-value value="version.statistics.bounced" total="version.statistics.sent" color="dark"/>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Links</div>
                                        <stat-value value="version.statistics.links" total="version.statistics.sent" color="primary"/>
                                    </div>
                                    <div class="col-md-2 text-center b-statistics p-y-md">
                                        <div class="b-statistics-label">Spam</div>
                                        <stat-value value="version.statistics.spam" total="version.statistics.sent" color="danger"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body p-y-lg"
                     ng-repeat="version in ctrl.record.versions"
                     ng-if="ctrl.isVersionActive(version)"
                >
                    <email-preview
                            ng-if="ctrl.view.tab === 'message'"
                            message="version.message" sender="ctrl.record.sender"></email-preview>

                    <message-replies ng-if="ctrl.view.tab === 'replies'"
                                     version="version"></message-replies>
                </div>

                <div class="box-divider m-y-0 m-x-0"></div>

                <div class="box-footer"
                     ng-if="ctrl.isVersionActive(version)"
                     ng-repeat="version in ctrl.record.versions">
                    <div class="pull-left w-64 m-r-sm"><b>Send until</b></div>
                    <span class="m-r-sm">
                        <i class="fa fa-flash"></i>
                        <span class="text-muted">Stop sending on {{ version.stop | date : 'EEEE MMM d, yyyy'}} at {{ version.stop | date : 'hh:mma'}}</span>
                    </span>
                </div>

                <div class="box-divider m-y-0 m-x-0"></div>

                <div class="box-footer p-y-md"
                     ng-if="ctrl.isVersionActive(version)"
                     ng-repeat="version in ctrl.record.versions">
                    <div class="pull-left w-64 m-r-sm"><b>Goal</b></div>
                    <span class="m-r-sm">
                        <i class="fa fa-bullseye"></i>
                        <span class="text-muted" ng-repeat="goal in version.goals">{{ goal.name }} count is {{ goal.value }}</span>
                    </span>
                </div>

            </div>

        </div>

    </div>
</div>
