@import "../../../flatkit/assets/scss/variables";

.preview-tabs {
  .nav {
    display: flex;

    .nav-link {
      width: 100%;
      background: $border-color-lt;

      &.active {
        background: $full-white;
      }
    }
  }
}