<button class="btn btn-sm btn-fw white m-r-xs">
    <i class="fa fa-pause-circle"></i>
    Pause
</button>
<button class="btn btn-sm btn-fw white m-r-xs">
    <i class="fa fa-copy"></i>
    Duplicate
</button>
<button class="btn btn-sm btn-fw white m-r-xs">
    <i class="fa fa-times-circle"></i>
    Delete
</button>
<button class="btn btn-sm btn-fw primary">
    <i class="fa fa-pencil-square-o"></i>
    Edit Message
</button>
