<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>

    <h6 class="modal-title inline">Delete version {{ ctrl.letter }}</h6>
</div>
<div class="modal-body">
    By deleting version {{ ctrl.letter }} you will also delete all the statistics associated with this version.
    Users who received this version will not get this message again. Are you sure you want to
    delete version {{ ctrl.letter }}?
</div>
<div class="modal-footer">
    <button class="btn btn-sm white"
            type="button"
            ng-click="$dismiss()">
        Cancel
    </button>
    <button class="btn btn-sm danger"
            type="button"
            ng-click="$close()">
        Delete
    </button>
</div>
