.b-statistics {

  &_clickable {
    border-radius: .5em;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }
  }
  
  .active &_active {
    background: #f3f3f3;
  }


  &-label {
    text-transform: uppercase;
    font-size: .8em;
  }

  &-value {
    font-size: 2em;
    font-weight: bold;

    i.fa {
      font-size: .75em;
    }
  }
}