<div class="app-sub-header bg dark b-b p-a-sm" ng-include="'${require(`./subheader.html`)}'"></div>
<div class="app-body-inner" st-table="ctrl.displayedRecords" st-safe-src="ctrl.records" st-refer="ctrl.table">
    <div class="row-col row-col-xs">
        <!-- column -->
        <div class="col-sm w-xl w-auto-xs b-r">
            <users-filter class="row-col" company-mode="true"></users-filter>
        </div>

        <div class="col-sm">
            <div class="row-col">
                <div class="p-a-sm b-b">
                    <div ng-include="'${require(`./toolbar.html`)}'"></div>
                </div>

                <div class="table-responsive white" style="padding-right: 15px;">
                    <table class="table table-striped table-fixed b-t m-b-0">
                        <thead>
                        <tr>
                            <th class="check-field">
                                <i class="fa fa-info-circle" tooltip-append-to-body="true"
                                   uib-tooltip="Looking for the select-all checkbox? Just use the buttons above to message or tag these people.">
                                </i>
                            </th>
                            <th st-sort="name" class="pointer">Name</th>
                            <th st-sort="lastSeen" class="pointer">Company last seen</th>
                            <th st-sort="createdAt" class="pointer">Company created at</th>
                            <th st-sort="customerCount" class="pointer">Users</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="row-row">
                    <div class="row-body">

                            <div ng-include="'${require(`./table.html`)}'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
