<div class="app-body-inner">
    <div class="row-col row-col-xs b-t b-t-2x">
        <!-- column -->
        <div class="col-sm w-xl w-auto-xs b-r">
            <div class="row-col" ng-include="'${require(`./nav.html`)}'"></div>
        </div>

        <div class="col-sm">
            <div class="row-col">
                <div class="row-row">
                    <div class="row-body">
                        <div ng-include="'components/account-settings/section/' + ctrl.section.alias + '.html'">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
