<div class="row-row white bg">
    <div class="row-body scrollable">
        <div class="row-inner nav-active-primary">
            <p class="m-a m-b-sm"><strong>Messages</strong></p>

            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item" ng-repeat="folder in ctrl.folders"
                    ng-click="ctrl.folder = folder"
                    ng-class="{'box-shadow': ctrl.folder == folder}">
                    <a class="nav-link">
                        <small class="fa fa-fw fa-{{::folder.icon}}"></small>
                        {{folder.name}}
                        <small class="text-muted" ng-if="folder.count">({{folder.count}})</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="p-a b-t text-center">
    <button class="btn btn-sm primary btn-addon" ng-click="ctrl.createFolder()">
        <i class="fa fa-plus fa-fw m-r-xs"></i> New Folder
    </button>
</div>
