<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="">
            <div class="row padding" style="background: ghostwhite">
                <div class="padding"><h6>What can you use the Intercom Messenger for?</h6></div>
                <div class="col-md-5">
                    <label class="form-label">Outbound Messaging</label>
                    <p><i class="fa fa-fw fa-check"></i> Send targeted messages to users of your web app</p>
                    <p><i class="fa fa-fw fa-check"></i> Send targeted messages to visitors on your website</p>
                    <p><i class="fa fa-fw fa-check"></i> Send in-app announcements</p>
                    <p><i class="fa fa-fw fa-check"></i> Start in-app chats</p>
                    <p><i class="fa fa-fw fa-check"></i> Collect feedback with light-weight replies</p>
                    <p><i class="fa fa-fw fa-check"></i> Have conversations in real time</p>
                    <p><i class="fa fa-fw fa-check"></i> Customize message responder</p>
                </div>
                <div class="col-md-5">
                    <label class="form-label">Inbound Messaging</label>
                    <p><i class="fa fa-fw fa-check"></i> Let users of your web & mobile apps start new conversations</p>
                    <p><i class="fa fa-fw fa-check"></i> Let visitors on your website start new conversations</p>
                    <p><i class="fa fa-fw fa-check"></i> Have conversations in real time</p>
                </div>
            </div>

            <form role="form" name="appMessengerSettingsForm" ng-init="m = ctrl.settings.messenger">

                <div class="padding">
                    <label class="form-label">Turn on Intercom Messenger button for</label>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="m.users" type="checkbox"><i class="dark-white"></i> Users of your web app</label>
                    </div>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="m.visitors" type="checkbox"><i class="dark-white"></i> Visitors on your website</label>
                    </div>
                    <small>This shows a button in your web app or website which opens the Intercom Messenger, similar to what you see in the bottom right of this screen. This setting will be overridden if you use a custom button.</small>
                    <br>
                    <br>
                    <label class="form-label">Audio Notifications</label>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                <label class="ui-check checkbox label-padding " style="margin-left: -0.75rem;"><input ng-model="m.audio" type="checkbox"><i class="dark-white"></i> Enable audio feedback for your users</label>
                                <span class="input-group-addon borderless">
                                    <i class="fa fa-fw fa-question-circle" tooltip-append-to-body="true"
                                      uib-tooltip="With audio turned on your users will hear an audio notification when they receive a new message from you, and audio feedback when they send a message."
                                    ></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label class="form-label">Default language</label>
                        <p><small>Choose the language(s) your team supports and write a welcome message (some basic HTML is okay)</small></p>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="defaultLanguage" class="form-label" >Default language</label>
                            <select id="defaultLanguage" class="form-control">
                                <option ng-repeat="language in ctrl.languages" ng-model="m.language" ng-selected="m.language.code === language.code"> {{ language }}</option>
                            </select>
                        </div>
                    </div>


                </div>

                <hr>

                <div class="form-group">
                    <button type="button" class="btn dark pull-bottom" ng-disabled="!appMessengerSettingsForm.$dirty" ng-click="ctrl.updateMessagingSettings()">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>