<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <form role="form" name="generalAppForm" ng-init="a = ctrl.settings.app">
                <div class="form-group">
                    <label for="appName" class="form-label">Name of your app</label>
                    <input id="appName" ng-model="a.name" type="text" class="form-control" maxlength="50" placeholder="Enter app name" required>
                </div>

                <div class="form-group">
                    <label for="timeZone" class="form-label">Time zone</label>
                    <select id="timeZone" class="form-control">
                        <option ng-repeat="zone in ctrl.timeZones" ng-model="a.timeZone" ng-selected="a.timeZone === zone.name">({{ zone.offset }}) {{ zone.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Gather social data about your users</label>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="a.socialData" type="checkbox"><i class="dark-white"></i> Gather social profiles (e.g. Linkedin, Twitter, etc) for my users via a third party</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Companies</label>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="a.companies" type="checkbox"><i class="dark-white"></i> Enable company related features throughout Intercom (company profiles, company lists, etc)</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Test version</label>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="a.testVersion" type="checkbox"><i class="dark-white"></i> Enable a test version of Intercom for your A non-production environments</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn dark" ng-disabled="!generalAppForm.$valid" ng-click="ctrl.updateAppDetails()">Save</button>
                </div>

                <hr>

                <div class="form-group">
                    <label class="form-label">Extreme measures</label>
                    <div class="row">
                        <button type="button" class="btn btn-danger-outline" data-toggle="modal" data-target="#confirmationDeleteAppDialog">Delete this app</button>
                    </div>
                </div>
            </form>

            <div id="confirmationDeleteAppDialog" class="modal fade ng-scope" data-backdrop="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete {{ ctrl.settings.app.name }} app</h5>
                        </div>
                        <div class="modal-body text-center p-lg">
                            <p>Are you ABSOLUTELY sure you want to delete this app? Your subscription will be immediately cancelled, and you’ll lose access to all data.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn dark p-x-md" data-dismiss="modal" ng-click="ctrl.deleteApp()">Delete App</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
