<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <form role="form" name="messagingSettingsForm" ng-init="m = ctrl.settings.messaging">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="template" class="form-label">Begin new messages with</label>
                        <div class="input-group">
                            <input id="template" ng-model="m.template" type="text" class="form-control" maxlength="50" placeholder="Define template">
                            <span class="input-group-addon borderless" tooltip-append-to-body="true"
                                  uib-tooltip="To use recipient’s name include { { first_name | fallback: 'there'  } }. The fallback will be used if the recipient doesn’t have a name"
                                ><i class="fa fa-fw fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="recipient" class="form-label">Assign new messages to</label>
                        <div class="input-group">
                            <select id="recipient" class="form-control">
                                <option ng-model="r.recipient"> No Body</option>
                                <option ng-repeat="u in ctrl.settings.teammates.users" ng-model="r.recipient" ng-selected="m.recipient.id === u.id">
                                    <img class="fa-fw img-circle" ng-src="{{ u.avatar }}"> {{ u.name }}
                                </option>
                                <option ng-repeat="t in ctrl.settings.teammates.teams" ng-model="r.recipient" ng-selected="m.recipient.id === t.id">
                                    <img class="fa-fw img-circle" ng-src="{{ t.icon }}"> {{ t.name }}
                                </option>
                            </select>
                            <span class="input-group-addon borderless"><i class="fa fa-fw fa-question-circle" tooltip-append-to-body="true"
                                uib-tooltip="The assigned user will receive emails for all new messages from users (assuming they have email enabled in their personal settings)."
                                ></i></span>
                        </div>
                        <small>When Nobody is selected, you can still choose to be notified about new messages in <a href>your personal settings</a>.</small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">Incoming Email Address for App</label>
                        <div class="input-group">
                            <p class="form-control-static">{{ m.internalEmail }}</p>
                            <span class="input-group-addon borderless"><i class="fa fa-fw fa-question-circle" tooltip-append-to-body="true"
                                uib-tooltip= "Auto-forward your support email (e.g. support@your-domain.com) to this address and use Intercom as your support inbox."
                                ></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Unsubscribe</label>
                    <div class="row">
                        <label class="ui-check checkbox label-padding"><input ng-model="m.unsubscribed" type="checkbox"><i class="dark-white"></i> Hide all unsubscribe links in auto messages</label>
                    </div>
                    <small>You may want to do this if you handle unsubscribes within your own app and are sending this data to Intercom in your users' intercomSettings. <a href>Learn more about unsubscribing</a>.</small>
                </div>

                <hr>

                <div class="form-group">
                    <button type="button" class="btn dark" ng-disabled="!messagingSettingsForm.$dirty" ng-click="ctrl.updateMessagingSettings()">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>