<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">

            <div ng-include="'${require(`./teammates/invitation.html`)}'"></div>

            <hr>

            <div ng-include="'${require(`./teammates/teams-management.html`)}'"></div>

            <hr>

            <div ng-include="'${require(`./teammates/users-management.html`)}'"></div>

            <div id="changingPermissionsDialog" class="modal fade ng-scope black-overlay" data-backdrop="false" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Permissions for {{ ctrl.selectedUser.name || ctrl.selectedUser.email }}</h5>
                        </div>
                        <div class="modal-body p-lg">
                            <div class="form-group">
                                <div class="row">
                                    <label class="ui-check radio label-padding"><input ng-model="ctrl.selectedUser.permissions.access" name="permissions" type="radio" value="full"><i class="dark-white"></i> Invite with full access to all data and features</label>
                                </div>
                                <div class="row">
                                    <label class="ui-check radio label-padding"><input ng-model="ctrl.selectedUser.permissions.access" name="permissions" type="radio" value="restricted"><i class="dark-white"></i> Invite with restricted access…</label>
                                </div>
                            </div>
                            <div class="form-group" ng-show="ctrl.selectedUser.permissions.access === 'restricted' ">
                                <span>App settings, team members and billing can't be accessed.</span><br><span>All team members can use the team inbox & saved replies.</span><br>
                                <p >Additional restrictions:</p>
                                <div class="row">
                                    <label class="ui-check checkbox label-padding sub"><input ng-model="ctrl.selectedUser.permissions.exportDenied" type="checkbox"><i class="dark-white"></i> Prevent exporting user & company data</label>
                                </div>
                                <div class="row">
                                    <label class="ui-check checkbox label-padding sub"><input ng-model="ctrl.selectedUser.permissions.messagingRestricted" type="checkbox"><i class="dark-white"></i> Prevent sending messages to more than one person at a time</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn dark p-x-md" data-dismiss="modal" ng-click="ctrl.changePermissions(ctrl.currentUser)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
