<h5 class="_300 m-b m-t-md">About</h5>

<div class="box">
    <div class="box-body">

        <p class="m-b-sm _300">Notes</p>
        <div class="m-b">
            <a href="" class="pull-left w-40 m-r-sm">
                <img ng-src="{{ctrl.currentUser.avatar}}" class="w-full img-circle">
            </a>

            <form ng-submit="ctrl.addNote(ctrl.noteText)" class="clear p-b-sm b-b">
                <input ng-model="ctrl.noteText" name="note-text"
                       class="form-control form-control-sm deep-orange-50 r p-a p-y-sm no-border m-t-xs"
                       placeholder="Type a note and hit Enter">
            </form>
        </div>
        <div class="m-b" ng-repeat="note in ctrl.customer.notes">
            <a href="" class="pull-left w-40 m-r-sm">
                <img ng-src="{{note.user.avatar}}" class="w-full img-circle">
            </a>

            <div class="clear">
                <div class="p-a p-y-sm deep-orange-50 inline r">
                    {{note.text}}
                </div>
                <div class="text-muted text-xs m-t-xs">
                    <span am-time-ago="note.createdAt"></span>
                </div>
            </div>
        </div>


        <p class="m-b-sm m-t-md _300">Segments</p>
            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded"
                  ng-repeat="segment in ctrl.customer.segments">
                <i class="fa fa-pie-chart m-r-xs"></i> {{segment}}
            </span>


        <p class="m-b-sm m-t-md _300">Tags</p>
            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded pointer">
                <i class="fa fa-plus m-r-xs"></i> Add tag...
            </span>

            <span class="m-r-sm m-b-xs text-sm p-x-sm p-y-xs label dark rounded"
                  ng-repeat="tag in ctrl.customer.tags">
                <i class="fa fa-tag m-r-xs"></i> {{tag}}
            </span>


        <p class="m-b-sm m-t-md _300">Details</p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-at"></i> Email</span>
            {{ctrl.customer.email}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-hashtag"></i> User Id</span>
            {{ctrl.customer.id}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Signed Up</span>
            <span am-time-ago="ctrl.customer.createdAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Last Seen</span>
            <span am-time-ago="ctrl.customer.lastSeenAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Last Contacted</span>
            <span am-time-ago="ctrl.customer.lastContactedAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-line-chart"></i> Sessions</span>
            {{ctrl.customer.sessionCount}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-laptop"></i> Browser</span>
            {{ctrl.customer.browser}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-laptop"></i> Browser Version</span>
            {{ctrl.customer.browserVersion}}
        </p>
    </div>
</div>

