.item-bg-map {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #005d90;
}

.item-bg-gradient {
  background: linear-gradient(to right,#005d90 0,rgba(0,93,144,0) 20%,rgba(0,93,144,0) 80%,#005d90 100%);
  height: 100%;
  width: 1280px;
  margin: 0 auto;
}

