<form class="box m-b-0" ng-submit="ctrl.reply(ctrl.replyText)">
    <div class="box-header b-b ng-binding p-x-sm p-y-xs">
        <div class="nav-active-primary">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-fw fa-reply"></i> Reply</a>
                </li>
                <li class="nav-item text-muted">
                    <a class="nav-link"><i class="fa fa-fw fa-sticky-note-o"></i> Note</a>
                </li>
                <li class="nav-item text-muted">
                    <a class="nav-link"><i class="fa fa-fw fa-user"></i> Assign</a>
                </li>

                <li class="nav-item pull-right">
                    <div class="dropdown inline">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item">
                                <i class="fa fa-fw fa-download"></i>
                                Use Saved Reply
                            </a>
                            <a class="dropdown-item">
                                <i class="fa fa-fw fa-paperclip"></i>
                                Add Attachment
                            </a>
                            <a class="dropdown-item">
                                <i class="fa fa-fw fa-eye"></i>
                                Preview (links/images)
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="box-body p-a-sm">
        <textarea class="form-control" ng-model="ctrl.replyText" style="resize: none;" rows="2"></textarea>
    </div>

    <div class="box-footer text-right p-a-sm">
        <div class="pull-left text-muted p-y-sm" ng-if="ctrl.replyText.length">
            Replying to <strong>{{ctrl.customer.name}}</strong>
        </div>

        <button type="button" class="btn btn-sm btn-default w-sm no-shadow">
            {{ctrl.replyText.length ? 'Reply & Close' : 'Close'}}
        </button>

        <button type="submit" class="btn btn-sm primary w-sm" ng-disabled="!ctrl.replyText.length">
            Reply
        </button>
    </div>
</form>
