<div class="item">
    <div class="item-bg item-bg-map blur-1" ng-style="{'background-image': ctrl.customer.mapUrl}">
        <div class="item-bg-gradient"></div>
    </div>

    <div class="p-a-md" style="height: 186px;">
        <div class="row m-t">
            <div class="col-sm-7 text-white">
                <a href class="pull-left m-r-md">
                    <span class="avatar w-96"><img ng-src="{{ctrl.customer.avatar}}"></span>
                </a>

                <div class="clear">
                    <h5 class="m-a-0 m-b-xs">
                        <span class="m-r-xs">{{ctrl.customer.name}}</span>

                        <span class="label rounded v-m p-x-md no-bg b-white b-a">user</span>
                    </h5>
                </div>

                <div class="clear m-b">
                    <div class="text-muted">
                        <small class="m-r prevent-breaks">
                            <i class="fa fa-map-marker m-r-xs"></i>
                            {{ctrl.customer.cityName}}, {{ctrl.customer.countryName}}
                        </small>

                        <small class="m-r prevent-breaks">
                            <i class="fa fa-clock-o m-r-xs"></i>
                            {{ctrl.customer.localTime | date:'h:mma'}} IST
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 text-right">
                <button class="btn light btn-sm">
                    <i class="fa fa-comment"></i>
                    Message
                </button>

                <div class="dropdown inline" ng-if="!ctrl.table.checkedRows.length">
                    <button class="btn light btn-sm" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="list-group" style="min-width: 300px;">
                            <a class="list-group-item no-border">
                                <span class="pull-left m-r"><i class="fa fa-fw fa-trash"></i></span>

                                <div class="clear">
                                    Delete person<br>
                                    <small class="text-muted">Delete this person and their conversation history</small>
                                </div>
                            </a>

                            <a class="list-group-item no-border">
                                <span class="pull-left m-r"><i class="fa fa-fw fa-times-circle"></i></span>

                                <div class="clear">
                                    Block person<br>
                                    <small class="text-muted">Block this person and future messages from them</small>
                                </div>
                            </a>

                            <a class="list-group-item no-border">
                                <span class="pull-left m-r"><i class="fa fa-fw fa-ban"></i></span>

                                <div class="clear">
                                    Unsubscribe from email<br>
                                    <small class="text-muted">Stop sending this person email</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
