<div class="panel box no-border m-b">
    <div class="box-header p-y-sm pointer" ng-class="{'primary': isOpen}" ng-click="toggleOpen()" uib-accordion-transclude="heading">
        <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
    </div>

    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="box-body p-a-0" ng-transclude>
        </div>
    </div>
</div>
