<div class="inline" ng-switch="!step.isOpen && step.isCompleted()">
    <span ng-switch-when="true" class="label rounded label-lg primary" style="width: 30px;">
        <i class="fa fa-check" style="margin-left: -4px;"></i>
    </span>
    <span ng-switch-when="false" class="label rounded label-lg" style="width: 30px;"
          ng-class="{'white text-primary': step.isOpen}">
        {{step.isOptional ? '&nbsp;' : ctrl.getStepIndex(step) + 1}}
    </span>
</div>
