<div class="btn-group" ng-if="ctrl.versions.length < 2">
    <button class="btn btn-sm white text-black" ng-click="$event.stopPropagation(); ctrl.startABTest()">Start A/B Test</button>
</div>
<div class="nav-active-white" ng-if="ctrl.versions.length > 1" ng-click="$event.stopPropagation()" style="margin-top: 2px;">
    <ul class="nav nav-tabs">
        <li class="nav-item"
            ng-repeat="version in ctrl.versions"
            >
            <div class="btn-group">
                <button class="btn btn-sm text-black"
                        ng-click="ctrl.activeVersion = version"
                        ng-class="{
                            'white': ctrl.activeVersion === version,
                            'primary': ctrl.activeVersion !== version
                        }"
                    >Version {{ ctrl.letters[$index] }}</button>
                <button class="btn btn-sm text-black"
                        ng-click="$event.stopPropagation(); ctrl.removeVersion(version)"
                        ng-class="{
                            'white': ctrl.activeVersion === version,
                            'primary': ctrl.activeVersion !== version
                        }"
                    ><i class="fa fa-times"></i></button>
            </div>
            <!--<a class="nav-link"-->
                <!--ng-click="ctrl.activeVersion = version"-->
                <!--ng-class="{'active': ctrl.activeVersion === version}"-->
                <!--&gt;Version {{ ctrl.letters[$index] }}</a>-->
            <!--<a class="nav-link"></a>-->
        </li>
    </ul>
</div>