<div class="row-col row-col-xs" style="min-height: 600px;">
    <!-- column -->
    <div class="col-sm w-xl w-auto-xs b-r">
        <div class="row-col p-a" ng-include="'${require(`./step-4-left.html`)}'">
        </div>
    </div>

    <div class="col-sm">
        <div class="row-col p-a-md text-center">
            <div class="table-responsive">
                <div class="inline" ng-style="{width: (ctrl.activeVersion.previewType.name == 'Mobile' ? 370 : 500) + 'px'}">
                    <div text-angular ng-model="ctrl.activeVersion.body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
