<div class="text-center p-a-md">
    <div style="max-width: 600px; margin: 0 auto;">
        <div class="list text-left">
            <div class="list-item b-b">
                <div class="list-left"><i class="fa fa-clock-o text-3x text-primary"></i></div>
                <div class="list-right">
                    <label class="ui-switch primary">
                        <input type="checkbox" ng-model="ctrl.deliveryScheduleEnabled">
                        <i></i>
                    </label>
                </div>
                <div class="list-body">
                    <strong class="m-b-sm">Delivery Window</strong>

                    <div class="text-muted clear">Deliver your message at a time that best suits the recipient</div>
                </div>
            </div>
            <div class="list-item">
                <div class="list-left">&nbsp;</div>
                <div class="list-body">
                    <strong class="block text-muted m-b-xs">Choose a delivery window (recipient's time zone)
                        <i class="fa fa-question-circle"
                           uib-tooltip-template="'${require(`./delivery-window-tooltip.html`)}'"
                           tooltip-placement="right"
                           tooltip-class="tooltip-right tooltip-lg"></i></strong>

                    <div class="row m-b-sm" disable-all="!ctrl.deliveryScheduleEnabled">
                        <div class="col-xs-12">
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Mon
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Tue
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Wed
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Thur
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Fri
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Sat
                            </label>
                            <label class="ui-check checkbox-inline">
                                <input type="checkbox">
                                <i class="dark-white"></i>
                                Sun
                            </label>
                        </div>
                    </div>

                    <div class="row" disable-all="!ctrl.deliveryScheduleEnabled">
                        <div class="col-xs-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <select class="form-control form-control-sm">
                                    <option ng-repeat="hour in ctrl.hours" value="{{ hour }}">{{ hour }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-1 text-muted p-y-xs">
                            to
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <select class="form-control form-control-sm">
                                    <option ng-repeat="hour in ctrl.hours" value="{{ hour }}">{{ hour }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
