<div class="text-center p-a-md">
    <div style="max-width: 600px; margin: 0 auto;">
        <div class="list text-left">
            <div class="list-item b-b">
                <div class="list-left"><i class="fa fa-clock-o text-3x text-primary"></i></div>
                <div class="list-right">
                    <label class="ui-switch primary">
                        <input type="checkbox" ng-model="ctrl.stopDateEnabled">
                        <i></i>
                    </label>
                </div>
                <div class="list-body">
                    <strong class="m-b-sm">Stop Date</strong>

                    <div class="text-muted clear">Stop the message automatically at a date in the future</div>
                </div>
            </div>
            <div class="list-item">
                <div class="list-left">&nbsp;</div>
                <div class="list-body">
                    <strong class="block text-muted m-b-xs">Choose a stop date</strong>

                    <div class="row" disable-all="!ctrl.stopDateEnabled">
                        <div class="col-xs-6">
                            <button class="btn white btn-sm btn-block dropdown-toggle"
                                    ng-model="ctrl.stopDate"
                                    uib-datepicker-popup
                                    is-open="ctrl.isStopDateOpen"
                                    ng-click="ctrl.isStopDateOpen=true">
                                <i class="fa fa-fw fa-calendar-o"></i>
                                {{ctrl.stopDate | date}}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-control-sm form-control-static">at 11:59pm GMT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
