<div class="dropdown">
    <div class="dropdown-toggle m-b m-t-md pointer" data-toggle="dropdown">
        All conversations
    </div>

    <div class="dropdown-menu">
        <a class="dropdown-item">All conversations <i class="fa fa-check text-primary m-l"></i></a>
        <a class="dropdown-item">Open conversations</a>
    </div>
</div>

<div class="box" ng-repeat="conversation in ctrl.conversations | limitTo: 5">
    <div class="box-header">
        <a class="w-40 m-r-sm">
            <img ng-src="{{conversation.user.avatar}}" class="w-full img-circle">
        </a>

        {{conversation.user.name}}

        <span class="text-muted">
            closed this
            <a class="text-u-l" ng-click="isExpanded = !isExpanded">conversation</a>
            with {{conversation.customer.name}}
        </span>

        <small class="text-muted pull-right m-b-xs" am-time-ago="conversation.lastMessage.createdAt"></small>
    </div>

    <div class="box-divider m-a-0 clearfix"></div>

    <div class="box-body dker p-a-0" uib-collapse="!isExpanded">
        <div class="scrollable" style="max-height: 250px;">
            <div class="m-y-xs"></div>

            <div ng-repeat="message in conversation.messages"
                 ng-class="{'text-right': message.user}">

                <div class="list-item">
                    <div class="list-left" ng-if="message.customer">
                        <img class="w-40 circle pointer" ng-src="{{message.customer.avatar}}">
                    </div>

                    <div class="list-right" ng-if="message.user">
                        <img class="w-40 circle" ng-src="{{message.user.avatar}}">
                    </div>

                    <div class="list-body">
                        <div class="text-color pos-rlt inline">
                        <span class="arrow pull-top b-white"
                              ng-class="{'right': !!message.user, 'left': !!message.customer}"></span>

                            <div class="box-color box-body m-b-sm text-left" style="white-space: pre-line">
                                {{message.text}}
                            </div>

                            <small class="block text-muted" am-time-ago="message.createdAt"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body" ng-if="activePanel !== 0">
        <a class="pull-left m-r-sm w-40">
            <img ng-src="{{conversation.customer.avatar}}" class="img-circle w-32">
        </a>

        <div class="clear p-y-sm text-muted">
            {{conversation.lastMessage.text}}
        </div>
    </div>
</div>
