<div class="inline text-muted">
    <i class="fa fa-fw fa-users"></i>

    <span class="p-r" ng-if="!ctrl.table.checkedRows.length">{{ctrl.company.customers.length}} users</span>

    <span class="p-r" ng-if="ctrl.table.checkedRows.length">
        <strong>{{ctrl.table.checkedRows.length}}</strong> selected
        <a class="fa fa-times-circle" uib-tooltip="Clear selection" tooltip-append-to-body="true"
           ng-click="ctrl.table.checkedRows = []"></a>
    </span>
</div>

<div class="hidden-md-down inline">
    <button class="btn dark btn-sm" ng-disabled="!ctrl.table.checkedRows.length">
        <i class="fa fa-comment fa-fw"></i>
        Message
    </button>

    <button class="btn dark btn-sm" ng-disabled="!ctrl.table.checkedRows.length">
        <i class="fa fa-tag fa-fw"></i>
        Tag
    </button>

    <button class="btn dark btn-sm" ng-disabled="!ctrl.table.checkedRows.length">
        <i class="fa fa-times fa-fw"></i>
        Remove
    </button>
</div>

<div class="hidden-lg-up dropdown inline">
    <button class="btn dark btn-sm dropdown-toggle" data-toggle="dropdown" ng-disabled="!ctrl.table.checkedRows.length">
        Action...
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item">
            <i class="fa fa-comment fa-fw"></i>
            Message
        </a>
        <a class="dropdown-item">
            <i class="fa fa-tag fa-fw"></i>
            Tag
        </a>
        <a class="dropdown-item">
            <i class="fa fa-times fa-fw"></i>
            Remove
        </a>
    </div>
</div>

<div class="dropdown inline pull-right">
    <button class="btn dark btn-sm dropdown-toggle" data-toggle="dropdown">
        Last seen
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item">Signed up</a>
        <a class="dropdown-item">Web sessions</a>
        <a class="dropdown-item">Last contacted</a>
        <a class="dropdown-item">Last heard from</a>
    </div>
</div>
