<div class="row-row white bg">
    <div class="row-body scrollable">
        <div class="row-inner nav-active-blue-grey p-a-sm">
            <p class="m-a m-b-sm">
                 <span class="nav-text">
                    <i class="fa fa-fw fa-briefcase"></i>
                    <strong>App Settings</strong>
                </span>
            </p>

            <hr>

            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item" ng-repeat="section in ctrl.sections  | filter: { menu: 1 }"
                    ui-sref=".({section: section.alias})"
                    ng-class="{'active': ctrl.section == section}"
                    ng-show="!section.hidden">
                    <a class="nav-link">
                        <small class="fa fa-fw fa-{{::section.icon}}"></small>
                        {{section.name}}
                    </a>
                </li>
            </ul>

            <hr>

            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item" ng-repeat="section in ctrl.sections | filter: { menu: 2 }"
                    ui-sref=".({section: section.alias})"
                    ng-class="{'active': ctrl.section == section}">
                    <a class="nav-link">
                        <small class="fa fa-fw fa-{{::section.icon}}"></small>
                        {{section.name}}
                    </a>
                </li>
            </ul>

            <hr>

            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item" ng-repeat="section in ctrl.sections | filter: { menu: 3 }"
                    ui-sref=".({section: section.alias})"
                    ng-class="{'active': ctrl.section == section}">
                    <a class="nav-link">
                        <small class="fa fa-fw fa-{{::section.icon}}"></small>
                        {{section.name}}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
