<div class="dropdown inline" uib-dropdown>
    <button class="btn dark btn-sm dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-fw fa-th-list"></i>
        <span class="hidden-md-down">Columns</span>
    </button>

    <div class="dropdown-menu dropdown-menu-right p-a-0" no-click-through style="min-width: 200px;">
        <div class="h6 m-a-0 _300 b-b p-a-sm text-muted text-center">Displayed columns</div>
        <div class="list-group no-border">
            <div class="list-group-item p-a-sm" ng-repeat="header in ::ctrl.table.headers" ng-if="::header.name">
                <label class="ui-check m-b-0"><input type="checkbox" ng-model="header.visible" ng-disabled="!header.allowHide">
                    <i></i>
                    <small ng-if="::header.icon" class="fa fa-fw fa-{{::header.icon}}"></small>
                    {{::header.name}}
                </label>
            </div>
        </div>
    </div>
</div>
