<div class="app-body-inner">
    <div class="row-col row-col-xs">
        <div class="col-sm">
            <div class="p-a b-b">
                <h2 class="inline">Intercom Engage Insights for AA</h2>

                <div class="inline pull-right">
                    <div class="btn-group">
                        <label
                                class="btn btn-sm btn-default"
                                ng-repeat="period in ctrl.periods"
                                ng-model="ctrl.period"
                                uib-btn-radio="'{{period.days}}'"
                                ng-bind="period.title"
                                ng-change="ctrl.changePeriod()"
                        >
                        </label>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3>Have any of our users received too many messages?</h3>
                </div>
                <div class="box-body" ng-switch="!!ctrl.groupedByCountMessages.length">
                    <table class="table" ng-switch-when="true">
                        <tr ng-repeat="mRow in ctrl.groupedByCountMessages">
                            <td>
                                <strong>{{::mRow.count}} messages</strong>
                                were send to
                                <div ng-repeat="customer in mRow.customers" class="inline m-r">
                                    <img ng-src="{{::customer.avatar}}" class="img-circle w-32 m-r-sm">
                                    <span ng-bind="::customer.name"></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div ng-switch-default>
                        No messages
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3>How are our messages performing?</h3>

                    <div class="inline pull-right" ng-show="!!ctrl.groupedByCountMessages.length">
                        <div class="btn-group">
                            <label
                                    class="btn btn-sm btn-default"
                                    ng-repeat="type in ctrl.messageTypes"
                                    ng-model="ctrl.messageType"
                                    uib-btn-radio="'{{type}}'"
                                    ng-bind="type"
                                    ng-change="ctrl.changeType()"
                            >
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-body" ng-switch="!!ctrl.groupedByCountMessages.length && ctrl.messagesByPeriodByType.length > 1">
                    <table
                            class="table"
                            st-table="displayedCollection"
                            st-safe-src="ctrl.messagesByPeriodByType"
                            ng-switch-when="true"
                    >
                        <tr>
                            <th>Title</th>
                            <th>From</th>
                            <th st-sort="customers.length" st-sort-default="reverse">
                                Sent
                            </th>
                            <th st-sort="opensP" class="pointer">
                                Open
                            </th>
                            <th st-sort="clicksP" class="pointer">
                                Clicked
                            </th>

                        </tr>
                        <tbody
                                ng-repeat="row in displayedCollection"
                                ng-switch="row.total"
                        >
                            <tr ng-switch-when="true" class="bg-info">
                                <td colspan="3">
                                    <i class="fa fa-fw fa-info"></i>
                                    <strong>Average in-app performance </strong>
                                    (based on all in-apps sent through Intercom)
                                </td>
                                <td class="text-info pointer">
                                    <i class="fa fa-fw fa-eye"></i>
                                    {{::row.opensP}}%
                                </td>
                                <td class="text-info pointer">
                                    <i class="fa fa-fw fa-mouse-pointer"></i>
                                    {{::row.clicksP}}%
                                </td>
                            </tr>
                            <tr ng-switch-default>
                                <td ng-bind="::row.title"></td>
                                <td>
                                    <img ng-src="{{::row.from.avatar}}" class="img-circle w-32 m-r-sm">
                                </td>
                                <td class="text-dark">
                                    <i class="fa fa-fw fa-user"></i>
                                    {{::row.customers.length}}
                                </td>
                                <td class="text-success pointer">
                                    <i class="fa fa-fw fa-eye"></i>
                                    {{::row.opensP}}%
                                </td>
                                <td class="text-warning pointer">
                                    <i class="fa fa-fw fa-mouse-pointer"></i>
                                    {{::row.clicksP}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-switch-default>
                        No messages
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
