<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <form role="form" name="accountUserForm" ng-init="u = ctrl.selectedUser">
                <div class="form-group">
                    <label for="userName" class="form-label">Name</label>
                    <input id="userName" ng-model="u.name" type="text" class="form-control" maxlength="50" placeholder="Enter your name" required>
                    <span class="help-block m-b-none">
                        Your sender name in emails to your users will include your app name and appear as {{ ctrl.selectedUser.name }} from {{ ctrl.settings.company.name }}
                    </span>
                </div>
                <div class="form-group">
                    <label for="userEmail" class="form-label">Email Address</label>
                    <input id="userEmail" ng-model="u.email" type="email" class="form-control" maxlength="50" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="userPassword" class="form-label">Current Password</label>
                    <input id="userPassword" ng-model="ctrl.account.password.current" type="password" class="form-control" maxlength="50" placeholder="Please confirm your password to update email address" required>
                </div>
                <div class="form-group">
                    <button type="button" class="btn dark" ng-disabled="!accountUserForm.$valid" ng-click="ctrl.updateUserDetails()">Save</button>
                </div>
            </form>

            <hr>

            <div>
                <label class="form-label">Photo</label>
                <div class="form-group">
                    <div class="form-group">
                        <img  ng-src="{{ ctrl.selectedUser.avatar }}" class="w-64 img-circle" ng-show="ctrl.showAvatar">
                        <i class="fa fa-fw fa-4x fa-user" ng-show="!ctrl.showAvatar"></i>
                    </div>
                    <div class="form-group">
                        <span class="btn dark" ng-click="ctrl.openUploadAvatar()">Upload a new photo</span>
                        <span class="btn dark-white" ng-click="ctrl.removeAvatar()">Delete photo</span>
                    </div>
                    <div>
                        <span class="help-block m-b-none">
                            Photo will be shown to your users when you send them messages or reply to them. Max photo size 1 MB.
                        </span>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <span id="changePassword" class="btn dark" ng-click="ctrl.openChangePassword()">Change password</span>
                <!--<span id="setupAuth" class="btn " ng-click="ctrl.setupAuth()">Setup Two Factor Authentication</span>-->
            </div>
            <hr>
            <div>
                <a href="#policy" class="btn">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
