<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <form role="form" name="changePasswordForm" ng-init="p = ctrl.settings.password">
                <div class="form-group">
                    <label for="currentPassword" class="form-label">Current Password</label>
                    <input id="currentPassword" ng-model="p.current" type="password" class="form-control" maxlength="50" placeholder="Enter your current password" required>
                </div>
                <div class="form-group">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input id="newPassword" ng-model="p.create" type="password" class="form-control" maxlength="50" placeholder="Enter a new password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword"  class="form-label">Confirm New Password</label>
                    <input id="confirmPassword" ng-model="p.confirm" type="password" class="form-control" maxlength="50" placeholder="Confirm your new password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn dark" ng-disabled="!changePasswordForm.$valid" ng-click="ctrl.updatePassword()">Save</button>
                    <button type="submit" class="btn" ng-click="ctrl.closeChangePassword()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>