<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <h6>Assignment settings</h6>

            <form role="form form-horizontal" name="conversationPrefForm" ng-init="c = ctrl.settings.conversation">

                <div>
                    <label class="form-label">When I reply to a conversation that is unassigned or assigned to a team</label>
                </div>
                <div class="row">
                    <label class="ui-check radio col-sm-6 label-padding"><input ng-model="c.assignmentSettings.type" name="assignmentSettings" type="radio" value="assignToMe"><i class="dark-white"></i>  Assign it to me</label>
                </div>
                <div class="row">
                    <label class="ui-check radio col-sm-6 label-padding"><input ng-model="c.assignmentSettings.type" name="assignmentSettings" type="radio" value="unassigned"><i class="dark-white"></i>  Keep it unassigned or assigned to the team</label>
                </div>

                <hr>
                <div class="row">
                    <button type="submit" class="btn dark" ng-disabled="!conversationPrefForm.$valid" ng-click="ctrl.updateConversation()">Save</button>
                    <p class="text-right"><a href="#policy" class="btn">Privacy Policy</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
