<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}}</h2>
    </div>
    <div class="box-body">
        <div class="padding">
            <h6>We can notify you by...</h6>

            <form role="form form-horizontal" name="notificationUserForm" ng-init="n = ctrl.settings.notification">
                <hr>
                <div class="form-group row">
                    <label class="col-sm-7 form-control-label">
                        On conversations <strong>Assigned to Me</strong>, notify me of any activity by
                    </label>
                    <label class="ui-check checkbox col-sm-1"><input type="checkbox" ng-model="n.assignedToMe.desktop"><i class="dark-white"></i> Desktop</label>
                    <label class="ui-check checkbox col-sm-1"><input type="checkbox" ng-model="n.assignedToMe.email"><i class="dark-white"></i> Email</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 form-control-label">
                        On conversations <strong>Assigned to a Team I'm on</strong>, notify me of any activity by
                    </label>
                    <label class="ui-check checkbox col-sm-offset-1 col-sm-1"><input ng-model="n.assignedToTeam.email" type="checkbox"><i class="dark-white"></i> Email</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 form-control-label">
                        On conversations that are <strong>Unassigned</strong>, notify me of any activity by
                    </label>
                    <label class="ui-check checkbox col-sm-offset-1 col-sm-1"><input ng-model="n.unassigned.email" type="checkbox"><i class="dark-white"></i> Email</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 form-control-label">
                        On conversations <strong>Assigned to other Teams and Teammates</strong>, notify me of any activity by
                    </label>
                    <label class="ui-check checkbox col-sm-offset-1 col-sm-1"><input ng-model="n.assignedToOthers.email" type="checkbox"><i class="dark-white"></i> Email</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 form-control-label">
                        Whenever <strong>I am mentioned in</strong> a conversation, notify me by
                    </label>
                    <label class="ui-check checkbox col-sm-offset-1 col-sm-1"><input ng-model="n.mentionedMe.email" type="checkbox"><i class="dark-white"></i> Email</label>
                </div>

                <hr>

                <h6>Browser Alerts</h6>
                <label>Blink the browser tab when there are new messages on conversations assigned to me</label>
                <div class="row">
                    <label class="ui-check checkbox col-sm-6 label-padding"><input ng-model="n.unassignedAlerts.alert" type="checkbox"><i class="dark-white"></i> Also include alerts for Unassigned conversations</label>
                </div>
                <div class="row">
                    <label class="ui-check checkbox col-sm-6 label-padding"><input ng-model="n.browserAlerts.sound" type="checkbox"><i class="dark-white"></i> Play sound along with browser tab alerts</label>
                </div>

                <hr>

                <h6>Daily Signup Email</h6>
                <div class="row">
                    <label class="ui-check checkbox col-sm-6 label-padding"><input ng-model="n.dailySingnups.email" type="checkbox"><i class="dark-white"></i> Email me a daily report of new signups</label>
                </div>
                <div class="row" ng-show="n.dailySingnups.email">
                    <label class="ui-check radio col-sm-6 label-padding sub"><input ng-model="n.dailySingnups.type" name="dailySingnupsType" type="radio" value="users"><i class="dark-white"></i> Send me an email of new users</label>
                </div>
                <div class="row" ng-show="n.dailySingnups.email">
                    <label class="ui-check radio col-sm-6 label-padding sub"><input ng-model="n.dailySingnups.type" name="dailySingnupsType" type="radio" value="companies"><i class="dark-white"></i> Send me an email of new companies</label>
                </div>

                <hr>
                <div class="row">
                    <button type="submit" class="btn dark" ng-disabled="!notificationUserForm.$valid" ng-click="ctrl.updateNotification()">Save</button>
                    <p class="text-right"><a href="#policy" class="btn">Privacy Policy</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
