<div class="box m-b-0 b-b">
    <div class="box-header">
        <h2>{{ctrl.section.name}} for {{ ctrl.settings.company.name }}</h2>
    </div>
    <div class="box-body">
        <div ng-include="'${require(`./visibility/table.html`)}'"></div>
    </div>
</div>