<table>
    <thead>
    <tr class="b-b">
        <th class="text-center p-b-sm">
            <i class="fa fa-fw fa-chevron-left pointer" ng-click="move(-1)"></i>
        </th>
        <th class="text-center p-b-sm">
            <button type="button" class="btn btn-default btn-sm" ng-click="toggleMode()"
                    ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">
                <strong>{{title}}</strong></button>
        </th>
        <th class="text-center p-b-sm">
            <i class="fa fa-fw fa-chevron-right pointer" ng-click="move(1)"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows track by $index">
        <td ng-repeat="dt in row track by dt.date" style="min-width: 84px"
            class="text-center pointer p-a-sm"
            ng-click="dt.disabled ? null : select(dt.date)"
            ng-class="{'primary': isActive(dt)}">

            <span ng-class="::{'text-danger': dt.current && !isActive(dt)}">{{::dt.label}}</span>
        </td>
    </tr>
    </tbody>
</table>
