<button class="btn btn-sm dark m-r-xs">
    <i class="fa fa-search"></i>
</button>

<div class="inline hidden-sm-down">
    <div class="dropdown inline" ng-repeat="inbox in ctrl.inboxes">
        <a ng-if="!inbox.submenu" class="btn btn-sm btn-fw dark m-r-xs"
           ng-class="{'active': inbox == ctrl.selectedInbox, 'p-y-xs p-x-1': inbox.avatar, 'dropdown-toggle': inbox.multiselect}">

            <img ng-if="inbox.avatar" ng-src="{{::inbox.avatar}}" class="w-24 img-circle">
            <i ng-if="inbox.icon" class="fa fa-fw fa-{{::inbox.icon}}"></i>

            {{::inbox.name}}
            <small class="text-muted">({{::inbox.count}})</small>
        </a>

        <a ng-if="!!inbox.submenu" class="btn btn-sm btn-fw dark m-r-xs"
           ng-class="{'active': inbox == ctrl.selectedInbox, 'p-y-xs p-x-1': inbox.avatar, 'dropdown-toggle': inbox.multiselect}"
           data-toggle="dropdown" ng-click="ctrl.updateTeamMenu()">

            <img ng-if="inbox.avatar" ng-src="{{::inbox.avatar}}" class="w-24 img-circle">
            <i ng-if="inbox.icon" class="fa fa-fw fa-{{::inbox.icon}}"></i>

            {{::inbox.name}}
            <small class="text-muted">({{::inbox.count}})</small>
        </a>

        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" ng-repeat="item in inbox.items"
               ng-class="{'p-t-sm p-l-md': item.icon}"
               ng-click="item.func()" data-toggle="modal" data-target="teamManagementDialog">

                <img ng-if="item.avatar" ng-src="{{::item.avatar}}" class="w-24 img-circle">
                <i ng-if="item.icon" class="w-24 fa fa-fw fa-{{::item.icon}}"></i>
                <i ng-if="item.emoji" class="emoji emoji_{{::item.emoji}}"></i>

                {{::item.name}}
                <small ng-if="item.count" class="text-muted">({{::item.count}})</small>
            </a>
        </div>
    </div>
</div>

<div class="dropdown inline hidden-md-up">
    <button class="btn btn-sm btn-fw dark m-r-xs text-left dropdown-toggle" data-toggle="dropdown">
        <img ng-if="ctrl.selectedInbox.avatar" ng-src="{{::ctrl.selectedInbox.avatar}}" class="w-24 img-circle">
        <i ng-if="ctrl.selectedInbox.icon" class="w-24 fa fa-fw fa-{{::ctrl.selectedInbox.icon}}"></i>

        {{::ctrl.selectedInbox.name}}
    </button>

    <div class="dropdown-menu">
        <a class="dropdown-item" ng-repeat="inbox in ctrl.inboxes">

            <img ng-if="inbox.avatar" ng-src="{{::inbox.avatar}}" class="w-24 img-circle">
            <i ng-if="inbox.icon" class="w-24 fa fa-fw fa-{{::inbox.icon}}"></i>

            {{::inbox.name}}
            <small class="text-muted">({{::inbox.count}})</small>

            <i class="fa fa-check text-primary m-l" ng-if="inbox == ctrl.selectedInbox"></i>
        </a>
    </div>
</div>

<button class="btn btn-sm dark pull-right hidden-md-up"
        ng-click="ctrl.selectConversation(null)"
        ng-hide="!ctrl.selectedConversation">
    <i class="fa fa-chevron-left"></i> Back
</button>
