<div class="m-y-xs"></div>

<div ng-repeat="message in ctrl.selectedConversation.messages"
     ng-class="{'text-right': message.user}">

    <div class="list-item">
        <div class="list-left" ng-if="message.customer">
            <img class="w-40 circle pointer" ng-src="{{message.customer.avatar}}"
                 ui-sref="customer-profile({id: ctrl.selectedConversation.customer.id})">
        </div>

        <div class="list-right" ng-if="message.user">
            <img class="w-40 circle" ng-src="{{message.user.avatar}}">
        </div>

        <div class="list-body">
            <div class="text-color pos-rlt inline">
                <span class="arrow pull-top b-white" ng-class="{'right': !!message.user, 'left': !!message.customer}"></span>

                <div class="box-color box-body m-b-sm text-left" style="white-space: pre-line">{{message.text}}</div>

                <small class="block text-muted" am-time-ago="message.createdAt"></small>
            </div>
        </div>
    </div>
</div>
