<div class="row-row white bg">
    <div class="row-body scrollable p-x">

        <div class="row-col h-auto m-b-lg m-t-sm">
            <div class="col-sm-4">
                <div class="avatar w-64 inline">
                    <img class="pointer" ng-src="{{ctrl.selectedConversation.customer.avatar}}"
                         ui-sref="customer-profile({id: ctrl.selectedConversation.customer.id})">
                </div>
            </div>
            <div class="col-sm-8 v-m">
                <a class="text-ellipsis h5 _300 pointer"
                     ui-sref="customer-profile({id: ctrl.selectedConversation.customer.id})">
                    {{ctrl.selectedConversation.customer.name}}
                </a>
                <a class="block text-muted pointer" ng-if="!!ctrl.selectedConversation.customer.company"
                        ui-sref="company-profile({id: ctrl.selectedConversation.customer.company.id})">
                    <i class="fa fa-building"></i> {{ctrl.selectedConversation.customer.company.name}}
                </a>

            </div>
        </div>

        <p class="text-ellipsis">
            <i class="fa fa-fw fa-map-marker"></i>
            {{ctrl.selectedConversation.customer.cityName}},
            {{ctrl.selectedConversation.customer.countryName}}
        </p>

        <p class="text-ellipsis">
            <i class="fa fa-fw fa-clock-o"></i>
            {{ctrl.selectedConversation.customer.localTime | date:'h:mma'}} IST
        </p>

        <hr>

        <p class="m-b-sm _300">Account</p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-at"></i> Email</span>
            {{ctrl.selectedConversation.customer.email}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-hashtag"></i> User Id</span>
            {{ctrl.selectedConversation.customer.id}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Signed Up</span>
            <span am-time-ago="ctrl.selectedConversation.customer.createdAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Last Seen</span>
            <span am-time-ago="ctrl.selectedConversation.customer.lastSeenAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Last Contacted</span>
            <span am-time-ago="ctrl.selectedConversation.customer.lastContactedAt"></span>
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-line-chart"></i> Sessions</span>
            {{ctrl.selectedConversation.customer.sessionCount}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-laptop"></i> Browser</span>
            {{ctrl.selectedConversation.customer.browser}}
        </p>

        <p class="text-ellipsis">
            <span class="text-muted m-r-xs"><i class="fa fa-fw fa-laptop"></i> Browser Version</span>
            {{ctrl.selectedConversation.customer.browserVersion}}
        </p>

        <div ng-if="!!ctrl.selectedConversation.customer.company">
            <hr>

            <p class="m-b-sm _300 pointer" ui-sref="company-profile({id: ctrl.selectedConversation.customer.company.id})">
                {{ctrl.selectedConversation.customer.company.name}}
            </p>

            <p class="text-ellipsis">
                <span class="text-muted m-r-xs"><i class="fa fa-fw fa-hashtag"></i> Company Id</span>
                {{ctrl.selectedConversation.customer.company.id}}
            </p>

            <p class="text-ellipsis">
                <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Company Last Seen</span>
                <span am-time-ago="ctrl.selectedConversation.customer.company.lastSeenAt"></span>
            </p>

            <p class="text-ellipsis">
                <span class="text-muted m-r-xs"><i class="fa fa-fw fa-calendar-check-o"></i> Company Last Contacted</span>
                <span am-time-ago="ctrl.selectedConversation.customer.company.lastContactedAt"></span>
            </p>
        </div>
    </div>
</div>
