<h6>Add Teammates</h6>

<form role="form" name="teammatesAppForm" ng-init="t = ctrl.settings.teammates">
    <div class="form-group">
        <label for="inviteByEmail" class="form-label">Invite</label>
        <input id="inviteByEmail" ng-model="t.invitation.email" type="email" class="form-control" maxlength="50" placeholder="Enter your new teammate's email address" required>
    </div>

    <label class="form-label">Permissions</label>
    <div class="form-group">
        <div class="row">
            <label class="ui-check radio label-padding"><input ng-model="t.invitation.access" name="permissions" type="radio" value="full"><i class="dark-white"></i> Invite with full access to all data and features</label>
        </div>
        <div class="row">
            <label class="ui-check radio label-padding"><input ng-model="t.invitation.access" name="permissions" type="radio" value="restricted"><i class="dark-white"></i> Invite with restricted access…</label>
        </div>
    </div>
    <div class="form-group" ng-show="t.invitation.access === 'restricted' ">
        <span>App settings, team members and billing can't be accessed.</span><br><span>All team members can use the team inbox & saved replies.</span><br>
        <p >Additional restrictions:</p>
        <div class="row">
            <label class="ui-check checkbox label-padding sub"><input ng-model="t.invitation.exportDenied" type="checkbox"><i class="dark-white"></i> Prevent exporting user & company data</label>
        </div>
        <div class="row">
            <label class="ui-check checkbox label-padding sub"><input ng-model="t.invitation.messagingRestricted" type="checkbox"><i class="dark-white"></i> Prevent sending messages to more than one person at a time</label>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn dark" ng-disabled="!teammatesAppForm.$valid" ng-click="ctrl.sendInvite()">Invite</button>
    </div>

</form>

<hr>

<div ng-init="invites = ctrl.settings.teammates.invites" ng-show="invites.length > 0">
    <h6>Pending Invites</h6>

    <div class="table-responsive white" style="padding-right: 15px;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><label class="form-label">Email</label></th>
                <th><label class="form-label">Permissions</label></th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in invites">
                <td nowrap><i class="fa fa-fw fa-user"></i> {{ i.email }} </td>
                <td>
                    {{ i.permissions.access === "full" ? "Full access" : "App settings, team members and billing can't be accessed." }} <br>
                    {{ i.permissions.access === "restricted" && i.permissions.exportDenied === true ? "Prevent exporting user & company data." : "" }}
                    {{ i.permissions.access === "restricted" && i.permissions.messagingRestricted === true ? "Prevent sending messages to more than one person at a time." : "" }}
                </td>
                <td>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#changingPermissionsDialog" ng-click="ctrl.openPermissionsManagement(i)">
                        <i class="fa fa-fw fa-pencil"></i></button>
                </td>
                <td><button type="button" class="btn btn-default" ng-click="ctrl.resendInvite(i)">Resend</button></td>
                <td><button type="button" class="btn btn-danger-outline" ng-click="ctrl.revokeInvite(i)"><i class="fa fa-fw fa-times-circle"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>