<h6>Teams</h6>

<div class="table-responsive white" style="padding-right: 15px;" ng-init="teams = ctrl.settings.teammates.teams">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="min-width: 250px;"><label class="form-label">Name</label></th>
            <th><label class="form-label">Members</label></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in teams">
            <td nowrap style="min-width: 250px;">
                <span><i class="emoji emoji_{{ t.avatar }}"></i><span>{{ t.name }}</span></span>
                <span class="nav-label" ng-show="!ctrl.isUserNotMember(ctrl.loggedUser.id, t.members)"><span class="label"><i class="fa fa-fw fa-user"></i></span></span>
            </td>
            <td>
                <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: m.id})" ng-repeat="m in t.members" >{{ m.name }}</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn dark" data-toggle="modal" data-target="#teamManagementDialog" ng-click="ctrl.openTeamManagement()">Edit Teams</button>
</div>

<div id="teamManagementDialog" class="modal black-overlay ng-scope" data-backdrop="true" style="display: none; background-color: rgba(0, 0, 0, 0.25); overflow: auto;">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content" style="min-height: 500px;">
            <div class="modal-header">
                <span><h5 class="pull-center modal-title" style="left: 46%">Teams</h5></span>
                <span><a data-dismiss="modal" class="pull-right text-muted text-md m-r-sm">×</a></span>
            </div>
            <div class="modal-body" style="position:absolute; bottom: 2.5rem; top: 2.7rem;">

                <div class="row m-b" style="height: 100%;">
                    <!-- navigation -->
                    <div class="col-sm-4 p-l-0 p-r-0"  style="height: 100%; background: #f8fafb; border-right: 1px solid #c9d7df;">
                        <div class="modal-overlay" ng-show="ctrl.userTeamForm.$dirty"></div>
                        <div class="nav-active-bg m-b">
                            <ul class="nav nav-pills nav-stacked" ui-nav>
                                <li class="nav-item" ng-repeat="t in ctrl.settings.teammates.teams"
                                    ng-click="ctrl.openTeamManagement(t)"
                                    ng-class="{'active': ctrl.selectedTeam.id === t.id}">
                                    <a class="nav-link list-group-item">
                                        <span class="nav-label" ng-show="!ctrl.isUserNotMember(ctrl.loggedUser.id, t.members)"><span class="label"><i class="fa fa-fw fa-user"></i></span></span>
                                        <span class="nav-icon"><i class="emoji emoji_{{ t.avatar }}"></i></span>
                                        <span class="nav-text stylized-bold" ng-class="{'active': ctrl.selectedTeam.id === t.id}" style="margin-top:-0.25rem;">{{ t.name }}</span>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- content -->
                    <div class="col-sm-8" style="height: 100%; background: #f0f4f7; overflow-y: auto;">
                        <form class="form" name="ctrl.userTeamForm">
                            <div class="form-group row m-t-sm">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <ui-select ng-model="ctrl.selectedTeam.avatar" theme="bootstrap" search-enabled="false" style="width: 75px;"
                                             on-select="ctrl.selectedTeam.avatar = $select.selected">
                                            <ui-select-match>
                                                <span>
                                                    <i class="emoji emoji_{{ ctrl.selectedTeam.avatar }}"></i>
                                                    <i class="fa fa-fw fa-caret-down"></i>
                                                </span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="e in ctrl.emojis">
                                                <span><i class="emoji emoji_{{ctrl.emojis[$index]}}"></i></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input style="font-weight: bold;" class="md-input form-control form-control-md stylized-grey" type="text" ng-model="ctrl.selectedTeam.name" maxlength="50" required>
                                    <span>{{ ctrl.selectedTeam.members.length > 0 ? ctrl.selectedTeam.members.length + ' members' : 'No members' }}</span>
                                </div>
                                <div class="col-sm-5">
                                    <span class="text-right">
                                        <span class="pull-right btn btn-danger-outline" data-toggle="modal" data-target="#confirmationDeleteTeamDialog">Delete Team</span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group m-t-sm">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                                    <ui-select ng-model="ctrl.selectedUser" theme="bootstrap" on-select="ctrl.onSelectMember(ctrl.selectedTeam, $item)">
                                        <ui-select-match placeholder="Search to add a team member...">Search to add a team member...</ui-select-match>
                                        <ui-select-choices repeat="user in ctrl.settings.teammates.users | autocompleteUserFilter: { name: $select.search, members: ctrl.selectedTeam.members }">
                                            <div>
                                                <span><img class="fa-fw img-circle" ng-src="{{ user.avatar }}"></span>
                                                <span ng-bind-html="user.name | highlight: $select.search"></span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="list-group m-t-sm" >
                                    <a class="list-group-item" ng-repeat="m in ctrl.selectedTeam.members">
                                        <img class="fa-fw img-circle" ng-src="{{ m.avatar }}"> {{ m.name }}
                                        <span class="pull-right btn-danger-outline" ng-click="ctrl.removeMember(ctrl.selectedTeam, m)">
                                            <i class="fa fa-fw fa-times-circle"></i></span>
                                    </a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="modal-footer pull-bottom p-t-0 p-b-0" style="width: 100%; background: #f0f4f7;">
                <div class="row p-t-0 p-b-0">
                    <div class="col-sm-4 p-t-sm p-b-sm" style="height: 100%; background: #f8fafb; border-right: 1px solid #c9d7df;">
                        <div class="modal-overlay" style="margin-left: -0.7rem; margin-top: -0.7rem;" ng-show="ctrl.userTeamForm.$dirty"></div>
                        <div class="text-center">
                            <button type="button" class="btn dark" ng-click="ctrl.createTeam();">+ Create Team</button>
                        </div>
                    </div>
                    <div class="col-sm-8" ng-show="ctrl.userTeamForm.$dirty" class="form-group pull-right">
                        <!--<div ng-show="ctrl.userTeamForm.$dirty" class="form-group pull-right" style="background: whitesmoke;">-->
                            <button type="button" class="btn dark-white m-t-sm" data-toggle="modal" data-target="#confirmationDischargeDialog">Cancel</button>
                            <button type="button" class="btn dark m-t-sm" ng-click="ctrl.saveTeam()">Save</button>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmationDischargeDialog" class="modal black-overlay ng-scope" data-backdrop="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel current changes</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel and lose your changes?
            </div>
            <div class="modal-footer text-center" style="width: 100%;">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                <button type="button" class="btn dark p-x-md" data-dismiss="modal" ng-click="ctrl.dischargeTeam()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmationDeleteTeamDialog" class="modal black-overlay ng-scope" data-backdrop="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete test team</h5>
            </div>
            <div class="modal-body">
                You’re about to delete this team in Intercom. Assign existing conversations, replies and assignment rules from {{ ctrl.selectedTeam.name }}
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn dark p-x-md" data-dismiss="modal" ng-click="ctrl.deleteTeam(ctrl.selectedTeam.id)">Delete Team</button>
            </div>
        </div>
    </div>
</div>