<h6>Users</h6>


<div ng-init="users = ctrl.settings.teammates.users">
    <div class="table-responsive white" style="padding-right: 15px;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><label class="form-label">Name</label></th>
                <th><label class="form-label"></label></th>
                <th><label class="form-label">Teams</label></th>
                <th><label class="form-label">Email</label></th>
                <th><label class="form-label">Permissions</label></th>
                <th style="width:100px;"></th>
                <th style="width:100px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td><img class="fa-fw fa-3x img-circle" ng-src="{{ u.avatar }}"></td>
                <td>
                    <a class="text-u-l m-r-sm" ui-sref="customer-profile({id: u.id})" >{{ u.name }}</a><br>
                    <a class="text-u-l m-r-sm" ng-href="mailto:{{ u.email }}" target="_top">{{ u.email }}</a> </td>
                <td>
                    <span ng-repeat="t in u.teams">
                        <span style="display: inline-flex"><i class="emoji emoji_{{ t.avatar }}"></i> {{ t.name }}</span>
                    </span>
                    <span ng-show="u.teams.length < 1">None</span>
                </td>
                <td><a class="text-u-l m-r-sm" ng-href="mailto:{{ u.email }}" target="_top">{{ u.email }}</a> </td>
                <td>
                    {{ u.permissions.access === "full" ? "Full access." : "Restricted access." }}
                </td>
                <td>
                    <span type="button" class="btn btn-default" data-toggle="modal" data-target="#changingPermissionsDialog"
                          ng-click="ctrl.openPermissionsManagement(u)" ng-show="ctrl.loggedUser.id !== u.id">
                        <i class="fa fa-fw fa-pencil"></i></span>
                </td>
                <td><button type="button" class="btn btn-danger-outline" ng-click="ctrl.dropUser(u.id)"><i class="fa fa-fw fa-times-circle"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>