@import "~angular/angular-csp.css"; // ng-cloak
@import "~textangular/dist/textAngular.css";

@import "../flatkit/assets/bootstrap/dist/css/bootstrap.css";
@import "../flatkit/assets/angular-motion/dist/angular-motion.min.css";
@import "../flatkit/assets/bootstrap-additions/dist/bootstrap-additions.min.css";
@import "../flatkit/assets/styles/font.css";
@import "../flatkit/assets/styles/app.css";

@import "~angular-ui-notification/dist/angular-ui-notification.min.css";
@import "~angular-emoji-filter-hd/dist/emoji.min.css";

.app-sub-header {
  height: 3rem;
}

.app-body-inner {
  margin-top: 3.5rem !important;
}

.app-sub-header ~ .app-body-inner {
  margin-top: 6.5rem !important;
}

table.table-fixed {
  table-layout: fixed;

  td, th {
    overflow: hidden;
    text-overflow: ellipsis;

    &.check-field {
      width: 50px;
    }
  }

}

table.table-nowrap {
  td, th {
    white-space: nowrap;
  }
}

table.table-unbordered {
  &, tr, td, th {
    border: none;
  }
}

.box-shadow {
  box-shadow: inset 0 -10rem 0px rgba(158, 158, 158, 0.2);
}

.prevent-breaks {
  white-space: nowrap;
}

.blur-1{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.streamline .sl-icon:before {
  z-index: -1;
  width: 26px;
  height: 26px;
  border-width: 13px;
  margin-left: -3px;
  top: -3px;
}

.clearfix {
  clear: both;
}

.collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.b-transparent {
  border-color: transparent;
}

.bg-transparent {
  background: transparent;
}

.tooltip-lg {
  .tooltip-inner {
    max-width: 300px;
  }
}

label.form-label {
  font-size: 13px;
  color: #78909c;
  text-transform: uppercase;
  font-weight: 400;
}

label.label-padding {
  padding-left: 35px !important;
  &.sub {
    margin-left: 30px;
  }
}

input.borderless {
  border: none;
}

span.borderless {
  border: none !important;
}

div.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(256, 256, 256, 0.5); /*dim the background*/
}

.pull-bottom {
  position: absolute;
  bottom: 0;
}

input.stylized-grey:focus {
  color: grey;
}

span.stylized-bold:focus {
  font-weight: bold !important;
}

span.stylized-bold {
  &.active {
    font-weight: bold !important;
  }
}

span.ui-select-toggle {
  border: 1px solid gainsboro;
}

span.ui-select-match-text {
  font-weight: 400;
  color: #455a64;
  font-size: 0.875rem;
}

input.ui-select-search {
  font-weight: 400;
  color: #455a64;
  font-size: 0.875rem;
}

input.ui-select-search::placeholder {
  color: #455a64 !important;
}

input.ui-select-search::-webkit-input-placeholder {
  color: #455a64 !important;
}

input.ui-select-search:-moz-placeholder { /* Firefox 18- */
  color: #455a64 !important;
}

input.ui-select-search::-moz-placeholder {  /* Firefox 19+ */
  color: #455a64 !important;
}

input.ui-select-search:-ms-input-placeholder {
  color: #455a64 !important;
}

@import "./widget/widget.scss";
