<form>
    <div class="radio m-a-0" ng-repeat="comparison in ctrl.comparisons.string track by comparison.alias">
        <label class="ui-check">
            <input type="radio" name="comparison" ng-model="predicate.comparison" ng-value="::comparison">
            <i class="dark-white"></i>
            {{::comparison.name}}
        </label>

        <div class="block m-y-xs m-l-md" ng-if="comparison.showInput && predicate.comparison == comparison">
            <input class="form-control form-control-sm" type="text" ng-model="predicate.value">
        </div>
    </div>
</form>
